<div class="row">
    <div class="col-xs-12 text-center" style="padding:10px; font-size:14px; background-color:#f1f1f1;">
        <% if(lang == "ko") { %>
            <%=contents.SUBJECT%>
        <% } %>
        <% if(lang == "en") { %>
        <%=contents.SUBJECT_EN%>
        <% } %>
        <% if(lang == "cn") { %>
        <%=contents.SUBJECT_CN%>
        <% } %>
    </div>
    <div class="col-xs-12" style="padding:10px 30px; max-width: 100%;">
        <% if(lang == "ko") { %>
            <%-contents.CONTENTS%>
        <% } %>

        <% if(lang == "en") { %>
        <%-contents.CONTENTS_EN%>
        <% } %>

        <% if(lang == "cn") { %>
        <%-contents.CONTENTS_CN%>
        <% } %>
    </div>
</div>

<script>
    $(function() {

        $("img").each(function() {
            $(this).css({"width":"50%"});

        });
    })
</script>