<input type="hidden" id="campaign_code" value="<%=campaign_code%>">
<input type="hidden" id="uid" value="<%=uid%>">
<input type="hidden" id="q_code" value="<%-q_data.Q_CODE%>">
<input type="hidden" id="q_type" value="<%-q_data.Q_TYPE%>">
<input type="hidden" id="q_min" value="<%-q_data.Q_CHECKED_MIN%>">
<input type="hidden" id="q_max" value="<%-q_data.Q_CHECKED_MAX%>">


<div class="row" style="padding:10px 40px;">
    <div clss="col-xs-12">
        <div class="row titleBox2">

            <div class="col-xs-12 text-center titleCountBg">
                <h2> <span id="selectCnt" class="Textcolor">QUESTION</span></h2>
                <small><span id="textselectCnt" class="Textcolor">아래 보기 중 선택해주세요.</span></small>

            </div>

            <div class="col-xs-12 text-left titleSelectBg" style="font-size:1.2em; padding:10px 20px;">
                <%-q_data.Q_TITLE%>
            </div>
        </div>

    </div>

    <%-q_data.Q_TYPE%>
    <div class="row push-20-t">
        <div clss="col-xs-12" style="padding:10px 0px;">

            <% if(q_data.Q_TYPE == 1) { %>
            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                <col width="50%">
                <col width="50%">
                <% for(var i = 0; i<qaImg.length; i++) { %>
                <% if(i%2 == 0) { %>
                <tr>
                    <td class="imgBox_off imgBox" align="center" category_code="<%=qaImg[i].CATEGORY_CODE%>" qa_code="<%=qaImg[i].IMG_SEQ%>">
                        <span class="imgBox_check"><img src="/img/survey/checkBox_icon_off.png"></span>
                        <!--<img src="<%-site_url%><%=qaImg[i].IMAGE_FILENAME%>" width="100%" align="center" style="padding-top:10px;">-->
                        <div style="background: url(<%-site_url%><%=qaImg[i].IMAGE_FILENAME%>) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height:350px;"></div>
                    </td>
                <% } %>
                <% if(i%2 == 1) { %>
                    <td class="imgBox_off imgBox" align="center" category_code="<%=qaImg[i].CATEGORY_CODE%>" qa_code="<%=qaImg[i].IMG_SEQ%>">
                        <span class="imgBox_check"><img src="/img/survey/checkBox_icon_off.png"></span>
                        <!--<img src="<%-site_url%><%=qaImg[i].IMAGE_FILENAME%>" width="100%" align="center" style="padding-top:10px;">-->
                        <div style="background: url(<%-site_url%><%=qaImg[i].IMAGE_FILENAME%>) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height:350px;"></div>
                    </td>
                </tr>
                <% } %>
                <% } %>
                <% if(q_data.QA_NO_ANSWER_CHECKED  == 'Y') { %>
                <tr>
                    <!--<div class="col-xs-12 noRadio" v-if="q_list[q_index].QA_NO_ANSWER_CHECKED == 'Y'">-->
                        <!--<template v-if="q_list[q_index].NOTANSWER == '99'">-->
                            <!--<a href="javascript:void(0)" v-on:click="notAnswer(q_index)" style="font-size:14px; color:red;">V 없음 / 잘 모르겠음</a>-->
                        <!--</template>-->


                        <!--<template v-else>-->
                            <!--<a href="javascript:void(0)" v-on:click="notAnswer(q_index)" style="font-size:14px;">없음 / 잘 모르겠음</a>-->
                        <!--</template>-->
                    <!--</div>-->
                   <td q_code="" align="right" colspan="2">
                       <div style="display:none;">
                           <input type="radio" id="NotQuestion" class="qaData" value="99"><span></span> 모르겠음
                       </div>
                       <button id="NotQuestionBtn" class="btn btn-sm btn-default NotQuestion">
                           모르겠음
                       </button>
                   </td>
                </tr>
                <% } %>
            </table>
            <% } %>

            <% if(q_data.Q_TYPE == 2) { %>
            <% for(var i = 0; i<qaImg.length; i++) { %>
                <div class="col-xs-12 text-center">
                    <img src="<%-site_url%><%=qaImg[i].IMAGE_FILENAME%>" style="width:100%;">

                    <div class="rating" id="rating_value_<%=qaImg[i].IMG_SEQ%>" style="padding:10px;"></div>
                    <input type="hidden" id="rating_<%=qaImg[i].IMG_SEQ%>" class="rating_value" category_code="<%=qaImg[i].CATEGORY_CODE%>">

                </div>
            <% } %>
            <% } %>

            <% if(q_data.Q_TYPE == 3) { %>

                <% for(var i = 0; i<qaImg.length; i++) { %>
                    <div class="col-xs-12 text-center">
                        <img src="<%-site_url%><%=qaImg[i].IMAGE_FILENAME%>" width="100%">
                    </div>
                <% } %>


                <div class="row">
                <div class="col-xs-12 text-center push-20-t">
                    <% for(var i = 0; i<qa.length; i++) { %>
                    <div class="col-xs-12">
                        <input type='radio' id="qaData_<%=i%>" style="display:none;" class="qaData" category_code="">
                        <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" id="<%=i%>" name="qa[]" type="button">
                    <span class="pull-left"><img src="/img/survey/checkBox_icon_off.png">&nbsp;&nbsp;&nbsp;
                        <%=qa[i].QA_TITLE%>
                    </span>
                        </button>
                    </div>
                    <% } %>

                </div>
                </div>

            <% } %>


            <% if(q_data.Q_TYPE == 4) { %>
            <div class="col-xs-12 text-center">
                <% for(var i = 0; i<qa.length; i++) { %>
                <div class="col-xs-12">
                    <input type='radio' id="qaData_<%=i%>" style="display:none;" class="qaData" category_code="">
                    <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" id="<%=i%>" name="qa[]" type="button">
                <span class="pull-left"><img src="/img/survey/checkBox_icon_off.png">&nbsp;&nbsp;&nbsp;
                    <%=qa[i].QA_TITLE%>
                </span>
                    </button>
                </div>
                <% } %>

            </div>
            <% } %>

            <% if(q_data.Q_TYPE == 5) { %>

                <% for(var i = 0; i<qaImg_l.length; i++) { %>
                <div class="col-xs-12 text-center">
                    <img src="<%-site_url%><%=qaImg_l[i].IMAGE_FILENAME%>" width="100%">
                </div>
                <% } %>

                <div class="col-xs-12 push-20-t">
                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                        <col width="50%">
                        <col width="50%">

                    <% for(var i = 0; i<qaImg_r.length; i++) { %>
                    <% if(i%2 == 0) { %>
                    <tr>
                        <td class="imgBox_off imgBox" align="center" category_code="<%=qaImg_r[i].CATEGORY_CODE%>" qa_code="<%=qaImg_r[i].IMG_SEQ%>">
                            <span class="imgBox_check"><img src="/img/survey/checkBox_icon_off.png"></span>
                            <!--<img src="<%-site_url%><%=qaImg_r[i].IMAGE_FILENAME%>" width="100%" align="center" style="padding-top:10px;">-->
                            <div style="background: url(<%-site_url%><%=qaImg[i].IMAGE_FILENAME%>) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height:350px;"></div>
                        </td>
                        <% } %>
                        <% if(i%2 == 1) { %>
                        <td class="imgBox_off imgBox" align="center" category_code="<%=qaImg_r[i].CATEGORY_CODE%>" qa_code="<%=qaImg_r[i].IMG_SEQ%>">
                            <span class="imgBox_check"><img src="/img/survey/checkBox_icon_off.png"></span>
                            <!--<img src="<%-site_url%><%=qaImg_r[i].IMAGE_FILENAME%>" width="100%" align="center" style="padding-top:10px;">-->
                            <div style="background: url(<%-site_url%><%=qaImg[i].IMAGE_FILENAME%>) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height:350px;"></div>
                        </td>
                    </tr>
                    <% } %>
                    <% } %>
                    </table>





                </div>
            <% } %>

            <% if(q_data.Q_TYPE == 6) { %>
            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                <col width="50%">
                <col width="50%">

                <% for(var i = 0; i<qaImg.length; i+=2) { %>

                    <tr>
                        <td class="imgBox_off imgBox2" align="center" category_code="<%=qaImg[i].CATEGORY_CODE%>" qa_code="<%=qaImg[i].IMG_SEQ%>">
                            <span class="imgBox_check"><img src="/img/survey/checkBox_icon_off.png"></span>
                            <!--<img src="<%-site_url%><%=qaImg[i].IMAGE_FILENAME%>" width="100%" align="center" style="padding-top:10px;">-->
                            <div style="background: url(<%-site_url%><%=qaImg[i].IMAGE_FILENAME%>) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height:350px;"></div>

                        </td>
                        <% if(i+1 <= qaImg.length -1) { %>
                        <td class="imgBox_off imgBox2" align="center" category_code="<%=qaImg[i+1].CATEGORY_CODE%>" qa_code="<%=qaImg[i+1].IMG_SEQ%>">
                            <span class="imgBox_check"><img src="/img/survey/checkBox_icon_off.png"></span>
                            <!--<img src="<%-site_url%><%=qaImg[i+1].IMAGE_FILENAME%>" width="100%" align="center" style="padding-top:10px;">-->
                            <div style="background: url(<%-site_url%><%=qaImg[i+1].IMAGE_FILENAME%>) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height:350px;"></div>

                        </td>
                        <% } %>
                    </tr>
                    <tr>
                        <td>
                            <textarea id="text_<%=qaImg[i].IMG_SEQ%>_<%=qaImg[i].CATEGORY_CODE%>" class="form-control textarea" disabled></textarea>
                        </td>
                        <% if(i+1 <= qaImg.length-1) { %>

                        <td>
                            <textarea id="text_<%=qaImg[i+1].IMG_SEQ%>_<%=qaImg[i+1].CATEGORY_CODE%>" class="form-control" disabled></textarea>
                        </td>
                        <% } %>
                    </tr>






                <% } %>




            </table>
            <% } %>


            <% if(q_data.Q_TYPE == 9) { %>
            <div class="col-xs-12">
                <%-q_data.CONTENTS%>
            </div>
            <% } %>

        </div>
    </div>
</div>


<script src="/view_js/survey/q.js"></script>
<script>
    $(".rating").rate({
        length: 5,
        value: 0,
        readonly: false,
        size: '48px',
        selectClass: 'fxss_rate_select',
        customClass: 'custom_class',
        text: false,
        callback: function(object){

            var value = object.index + 1;
            var id = object.id.replace("_value", "");


            $("#"+id).val(value);

            // $("#rating").val(value);


        }
    });
</script>