<input type="hidden" id="campaign_code" value="<%=campaign_code%>">
<input type="hidden" id="uid" value="<%=uid%>">
<input type="hidden" id="sq_code" value="<%=sq_code%>">
<input type="hidden" id="bp_type" value="">
<input type="hidden" id="lang" value="<%=lang%>">
<input type="hidden" id="debug" value="<%=debug%>">


<div class="row" style="padding:10px 40px;">
    <div clss="col-xs-12">
        <div class="row titleBox2">

            <div class="col-xs-12 text-center titleCountBg">
                <h2> <span id="selectCnt" class="Textcolor">QUESTION</span></h2>

            </div>

            <div class="col-xs-12 text-left titleSelectBg" style="padding:10px 20px;">

                <% if(lang == "ko") { %>
                <%=sq_data.SQ_TITLE%>
                <% } %>

                <% if(lang == "en") { %>
                <%=sq_data.SQ_TITLE_EN%>
                <% } %>

                <% if(lang == "zh") { %>
                <%=sq_data.SQ_TITLE_CN%>
                <% } %>
            </div>
        </div>

    </div>

    <div class="row push-20-t">
        <div clss="col-xs-12" style="padding:10px 0px;">
            <% for(var i = 0; i<sq_qa.length; i++) { %>
            <div class="col-xs-12">
                <input type='radio' id="qaData_<%=i%>" style="display:none;" class="qaData" value="<%=sq_qa[i].SQA_CODE%>">
                <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" id="<%=i%>" name="qa[]" type="button" style="white-space: normal;text-align:left;">
                    <span class="pull-left" style="display: block;word-wrap:break-word; width:100%;"><img src="/img/survey/checkBox_icon_off.png">
                        &nbsp;&nbsp;&nbsp;
                        <% if(lang == "ko") { %>
                            <%=sq_qa[i].SQA_TITLE%>
                        <% } %>

                        <% if(lang == "en") { %>
                            <%=sq_qa[i].SQA_TITLE_EN%>
                        <% } %>

                        <% if(lang == "zh") { %>
                            <%=sq_qa[i].SQA_TItLE_CN%>
                        <% } %>
                    </span>
                </button>
            </div>
            <% } %>

        </div>


    </div>
</div>


<script src="/view_js/survey/sq.js"></script>
