<input type="hidden" id="campaign_code" value="<%=campaign_code%>">
<input type="hidden" id="total" value="<%=total%>">
<input type="hidden" id="lang" value="<%=lang%>">
<input type="hidden" id="debug" value="<%=debug%>">
<div class="row" style="padding:10px 40px;">
    <% for(var i = 0; i<q_list.length; i++) { %>
    <% if(q_list[i].Q_TYPE != "9") { %>
    <input type="hidden" class="q_code" value="<%=q_list[i].Q_CODE%>///<%=q_list[i].Q_TYPE%>">
    <div clss="col-xs-12">
        <div class="row titleBox2">

            <div class="col-xs-12 text-left titleSelectBg" style="padding:10px 20px;">
                <% if(lang == "ko") { %>
                <%=q_list[i].Q_TITLE%>
                <% } else if(lang == "en") { %>
                <%=q_list[i].Q_TITLE_EN%>
                <% } else { %>
                <%=q_list[i].Q_TITLE_CN%>
                <% }%>

            </div>
        </div>
    </div>

    <div class="row push-10-t">
        <div id="result<%=q_list[i].Q_CODE%>" clss="col-xs-12" style="padding:10px 0px;">

        </div>
    </div>
    <% } %>
    <% } %>
</div>
<div class="row">
    <div class="col-xs-12">
        <button id="close" class="btn btn-lg btn-danger btn-block" onclick="ResultClose();">닫기</button>
    </div>
</div>

<script>
/*
    function close(){
        var json = {
            ERR_CODE : "000"
            ,ERR_MSG : "END"
            ,SURVEY_TYPE : "END"
        }

        postMessage(JSON.stringify(json), '*');

    }
    */

</script>

<script src="/view_js/survey/surveyResult.js"></script><!-- Page Plugins -->
<script src="/assets/js/plugins/jquery-raty/jquery.raty.min.js"></script>

<!-- Page JS Code -->
<script src="/assets/js/pages/base_comp_rating.js"></script>