<input type="hidden" id="campaign_code" name="campaign_code" value="<%=campaign_code%>">
<input type="hidden" id="seq" name="seq" value="<%=seq%>">
<input type="hidden" id="uid" name="uid" value="<%=uid%>">
<input type="hidden" id="quest_num" value="<%=quest_num%>">
<input type="hidden" id="step" value="<%=step%>">
<input type="hidden" id="debug" value="<%=debug%>">


<div class="row" style="padding:10px 40px;">
    <div clss="col-xs-12">

        <div class="row titleBox">
            <div class="col-xs-12 push-5-t">
                1. <span class="Textcolor">성명</span>을 입력해주세요. <span class="Textcolor">포인트 환급시 예금주</span>(받으시는분)확인용도로만 사용됩니다. 제출 이후 <span class="Textcolor">변경이 불가능</span>하니 신중하게 입력해주세요
            </div>


        </div>
    </div>

    <div class="row push-20-t push-20 surveyContents">
        <input type="text" name="username" id="username" class="form-control input-lg" placeholder="이름을 입력해주세요.">
    </div>


</div>
<!--
<div class="row footer_survey" style="background-color:#000;text-align:right; color:#fff; padding:10px 20px;">
    <div class="col-xs-12">
        <a href="javascript:void(0);" style="color:#fff;" class="nextStep">다음단계 ></a>
    </div>
</div>

-->

<script language="javascript" src="/view_js/survey/profile_1.js"></script>