<input type="hidden" id="campaign_code" name="campaign_code" value="<%=campaign_code%>">
<input type="hidden" id="seq" name="seq" value="<%=seq%>">
<input type="hidden" id="uid" name="uid" value="<%=uid%>">
<input type="hidden" id="quest_num" value="<%=quest_num%>">
<input type="hidden" id="step" value="<%=step%>">
<input type="hidden" id="debug" value="<%=debug%>">

<div class="row" style="padding:10px 40px;">
    <div clss="col-xs-12">

        <div class="row titleBox">
            <div class="col-xs-12 push-5-t">
                4. <span class="Textcolor">거주지역</span>을 선택해주세요. 설문을 추천하거나 통계를 분석할 때 활용됩니다.
            </div>


        </div>
    </div>

    <input type="hidden" name="data" id="data" value="">

    <div class="row push-20-t push-20 surveyContents">
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" addr="1" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;서울특별시</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" addr="2" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;부산광역시</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" addr="4" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;대구광역시</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" addr="8" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;인천광역시</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" addr="16" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;광주광역시</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" addr="32" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;대전광역시</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" addr="64" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;울산광역시</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" addr="128" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;세종특별자치시</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" addr="256" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;경기도</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" addr="512" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;강원도</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" addr="1024" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;충청북도</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" addr="2048" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;충청남도</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" addr="4096" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;전라북도</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" addr="8192" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;전라남도</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" addr="16384" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;경상북도</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" addr="32768" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;경상남도</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" addr="65536" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;제주특별자치도</span>
            </button>
    </div>


</div>
<!--
<div class="row" style="background-color:#000;text-align:right; color:#fff; padding:10px 20px;">
    <div class="col-xs-12">
        <a href="javascript:void(0);" style="color:#fff;" class="nextStep">다음단계</a>
    </div>
</div>
-->


<script language="javascript" src="/view_js/survey/profile_4.js"></script>