<input type="hidden" id="campaign_code" name="campaign_code" value="<%=campaign_code%>">
<input type="hidden" id="seq" name="seq" value="<%=seq%>">
<input type="hidden" id="uid" name="uid" value="<%=uid%>">
<input type="hidden" id="quest_num" value="<%=quest_num%>">
<input type="hidden" id="step" value="<%=step%>">
<input type="hidden" id="debug" value="<%=debug%>">
<input type="hidden" id="lang" value="<%=lang%>">

<div class="row" style="padding:10px 40px;">
    <div clss="col-xs-12">

        <div class="row titleBox">
            <div class="col-xs-12 push-5-t">
                <% if(lang == "en") { %>
                5. Please select the monthly average consumption amount. It is used to recommend surveys or analyze statistics.
                <% } else if(lang == "cn") { %>
                5. Please select the monthly average consumption amount. It is used to recommend surveys or analyze statistics.
                <% } else { %>
                5. <span class="Textcolor">월 평균 소비금액</span>을 선택해주세요. 설문을 추천하거나 통계를 분석할 때 활용됩니다.
                <% } %>

            </div>


        </div>
    </div>

    <input type="hidden" name="data" id="data" value="">

    <div class="row push-20-t push-20 surveyContents">
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" money="1" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;50만원 미만</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" money="2" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;50만원 이상 100만원 미만</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" money="3" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;100만원 이상 150만원 미만</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" money="4" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;150만원 이상 200만원 미만</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" money="5" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;200만원 이상 250만원 미만</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" money="6" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;250만원 이상 300만원 미만</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" money="7" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;300만원 이상 350만원 미만</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" money="8" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;350만원 이상 400만원 미만</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" money="9" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;400만원 이상 450만원 미만</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" money="10" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;450만원 이상 500만원 미만</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" money="11" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;500만원 이상 550만원 미만</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" money="12" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;550만원 이상 600만원 미만</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" money="13" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;600만원 이상 650만원 미만</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" money="14" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;650만원 이상 700만원 미만</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" money="15" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;700만원 이상 750만원 미만</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" money="16" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;750만원 이상 800만원 미만</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" money="17" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;800만원 이상 850만원 미만</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" money="18" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;850만원 이상 900만원 미만</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" money="19" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;900만원 이상 950만원 미만</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" money="20" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;950만원 이상 1000만원 미만</span>
            </button>
            <button class="qaList btn btn-white push-5-r push-10 btn-block btn-md" money="21" type="button">
                <span class="pull-left"><img src="/img/survey/inputRadio_icon_off.png">&nbsp;&nbsp;&nbsp;1000만원 이상</span>
            </button>

    </div>


</div>
<!--
<div class="row" style="background-color:#000;text-align:right; color:#fff; padding:10px 20px;">
    <div class="col-xs-12">
        <a href="javascript:void(0);" style="color:#fff;" class="nextStep">다음단계</a>
    </div>
</div>
-->


<script language="javascript" src="/view_js/survey/profile_5.js"></script>