<input type="hidden" id="campaign_code" name="campaign_code" value="<%=campaign_code%>">
<input type="hidden" id="seq" name="seq" value="<%=seq%>">
<input type="hidden" id="uid" name="uid" value="<%=uid%>">
<input type="hidden" id="quest_num" value="<%=quest_num%>">
<input type="hidden" id="q_code" value="<%=surveyQ.Q_CODE%>">
<input type="hidden" id="page" value="<%=page%>">
<input type="hidden" id="brandCnt" value="<%=brandList.length%>">
<input type="hidden" id="debug" value="<%=debug%>">
<div class="row" style="padding:10px 40px;">
    <div clss="col-xs-12">
        <div class="row titleBox2">

            <div class="col-xs-12 text-center titleCountBg">
                <h2> <span id="selectCnt" class="Textcolor">0</span> / <%=brandList.length%></h2>

                <small><span id="textselectCnt" class="Textcolor">0개가 선택되었습니다</span></small>
            </div>

            <div class="col-xs-12 text-left titleSelectBg" style="padding:10px 20px;font-size:1.2em;">
                <%=surveyQ.Q_TITLE_KO%>
            </div>

            <div class="col-xs-12 push-10-t" style="padding-top:20px;">
                <table width="100%">

                    <tr>
                        <td colspan="3" class="text-center" style="padding:10px 5px 0px 5px;"><img src="/img/survey/scaleTitle3.png" width="100%"></td>
                    </tr>
                    <tr>
                        <td class="Textcolor text-left" style="padding-top:10px; padding-bottom:20px;"><%=surveyQA[0].QA_TITLE_KO%></td>

                        <td class="Textcolor text-center" style="padding-top:10px; padding-bottom:20px;"><%=surveyQA[1].QA_TITLE_KO%></td>

                        <td class="Textcolor text-right" style="padding-top:10px; padding-bottom:20px;"><%=surveyQA[2].QA_TITLE_KO%></td>

                    </tr>
                </table>
            </div>

        </div>

    </div>

    <div clss="col-xs-12" style="padding:10px 0px;">
        <% for(var brandNum = 0; brandNum<brandList.length; brandNum++) { %>
        <div class="row push-10-t titleBox3">

            <div class="col-xs-12 titleSelectBg" style="padding:10px 0px;">
                <div class="col-xs-9">
                    <%=brandList[brandNum].BRAND_NAME_KO%>
                </div>
                <div class="col-xs-3 text-right">
                    <div style="display:none;">
                    <input type="radio" name="qa[<%=brandNum%>]" id="NotQuestion_<%=brandNum%>" brand_code="<%=brandList[brandNum].DETAIL_BRAND_CODE%>" class="qaData qaData_<%=brandNum%>" value="99"><span></span> 모르겠음
                    </div>
                    <button id="NotQuestionBtn_<%=brandNum%>" class="btn btn-sm btn-default NotQuestion" brandNum="<%=brandNum%>">
                        모르겠음
                    </button>
                </div>

            </div>


            <div class="col-xs-12 titleCountBg text-center">
                <div style="position:absolute; top:21px; text-align:center; height:2px; width:100%;padding-left:30px; padding-right:30px;">
                    <div style="background:url('/img/survey/scalebg.png');width:100%;height:2px;"></div>
                </div>
                <table width="100%">
                    <tr>
                        <% for(var i = 1; i<=7; i++) { %>
                        <td class="text-center">
                            <label class="css-input scale">
                                <input type="radio" name="qa[<%=brandNum%>]" brand_code="<%=brandList[brandNum].DETAIL_BRAND_CODE%>" brandNum="<%=brandNum%>" class="qaData qaData_<%=brandNum%>" value="<%=i%>"><span></span>
                            </label>
                        </td>
                        <% } %>

                    </tr>
                </table>
            </div>
        </div>
        <% } %>

    </div>
</div>
<script language="javascript" src="/view_js/survey/1.js"></script>