<input type="hidden" id="campaign_code" name="campaign_code" value="<%=campaign_code%>">
<input type="hidden" id="seq" name="seq" value="<%=seq%>">
<input type="hidden" id="uid" name="uid" value="<%=uid%>">
<input type="hidden" id="quest_num" value="<%=quest_num%>">
<input type="hidden" id="q_code" value="<%=surveyQ.Q_CODE%>">
<input type="hidden" id="page" value="<%=page%>">
<input type="hidden" id="brandCnt" value="<%=brandList.length%>">
<input type="hidden" id="debug" value="<%=debug%>">
<div class="row" style="padding:10px 40px;">
    <div clss="col-xs-12">
        <div class="row titleBox2">

            <div class="col-xs-12 text-center titleCountBg">
                <h2> <span id="selectCnt" class="Textcolor">0</span> / <%=brandList.length%></h2>

                <small><span id="textselectCnt" class="Textcolor">0개가 선택되었습니다</span></small>
            </div>

            <div class="col-xs-12 text-center titleSelectBg" style="font-size:1.2em; padding:10px 20px;">
                <%=surveyQ.Q_TITLE_KO%> <br>아래 두개의 이미지중 어느쪽과 유사한지 응답해주세요.
            </div>
            <div class="col-xs-12">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <col width="40%">
                    <col width="20%">
                    <col width="40%">
                    <tr>
                        <td class="imgbg">
                            <img src="<%=surveyQA[0].IMG%>" width="100%">
                        </td>
                        <td align="center">
                            <code>VS</code>
                        </td>
                        <td class="imgbg">
                            <img src="<%=surveyQA[1].IMG%>" width="100%">
                        </td>
                    </tr>
                    <tr>
                        <td><img src="/img/survey/imgBg_left.png" width="100%"></td>
                        <td></td>
                        <td><img src="/img/survey/imgBg_right.png" width="100%"></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-center" style="padding-left:20px; padding-right:20px;"><img src="/img/survey/imgBg_Footer.png" width="100%"></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

    <div clss="col-xs-12" style="padding:10px 0px;">
        <% for(var brandNum = 0; brandNum<brandList.length; brandNum++) { %>
        <div class="row push-10-t titleBox3">

            <div class="col-xs-12 titleSelectBg" style="padding:10px 0px;">
                <div class="col-xs-9">
                    <%=brandList[brandNum].BRAND_NAME_KO%>
                </div>
                <div class="col-xs-3 text-right">
                    <div style="display:none;">
                        <input type="radio" name="qa[<%=brandNum%>]" id="NotQuestion_<%=brandNum%>" brand_code="<%=brandList[brandNum].DETAIL_BRAND_CODE%>" class="qaData qaData_<%=brandNum%>" value="99"><span></span> 모르겠음
                    </div>
                    <button id="NotQuestionBtn_<%=brandNum%>" class="btn btn-sm btn-default NotQuestion" brandNum="<%=brandNum%>">
                        모르겠음
                    </button>
                </div>

            </div>


            <div class="col-xs-12 titleCountBg text-center">
                <div style="position:absolute; top:21px; text-align:center; height:2px; width:100%;padding-left:30px; padding-right:30px;">
                    <div style="background:url('/img/survey/scalebg.png');width:100%;height:2px;"></div>
                </div>
                <table width="100%">
                    <tr>
                        <% for(var i = 1; i<=7; i++) { %>
                        <td class="text-center">
                            <label class="css-input scale">
                                <input type="radio" name="qa[<%=brandNum%>]" brand_code="<%=brandList[brandNum].DETAIL_BRAND_CODE%>" brandNum="<%=brandNum%>" class="qaData qaData_<%=brandNum%>" value="1"><span></span>
                            </label>
                        </td>
                        <% } %>

                    </tr>
                </table>
            </div>
        </div>
        <% } %>

    </div>
</div>
<script language="javascript" src="/view_js/survey/2.js"></script>