<div class="row" style="padding:0px;">
    <div class="block" style="margin-bottom:-20px;">
        <div class="block-content" style="padding:0px;">
            <div class="progress progress-mini" style="background-color:#fff;">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%=total_per%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=total_per%>%;"></div>
            </div>
        </div>
    </div>
</div>


<input type="hidden" id="campaign_code" name="campaign_code" value="<%=campaign_code%>">
<input type="hidden" id="seq" name="seq" value="<%=seq%>">
<input type="hidden" id="uid" name="uid" value="<%=uid%>">
<input type="hidden" id="quest_num" value="<%=quest_num%>">
<input type="hidden" id="q_code" value="<%=surveyQ.Q_CODE%>">
<input type="hidden" id="page" value="<%=page%>">
<input type="hidden" id="brandCnt" value="<%=brandList.length%>">
<input type="hidden" id="debug" value="<%=debug%>">
<input type="hidden" id="lang" value="<%=lang%>">


<div class="row" style="padding:10px 40px;">
    <div clss="col-xs-12">
        <div class="row titleBox2">

            <div class="col-xs-12 text-center titleCountBg">
                <h2> <span id="selectCnt" class="Textcolor"><%=brandList.length%></span></h2>
                <small><span id="textselectCnt" class="Textcolor"><%=brandList.length%>개 브랜드가 선택되었습니다</span></small>

            </div>

            <div class="col-xs-12 text-left titleSelectBg" style="font-size:1.2em; padding:10px 20px;">
                <% if(lang == "en") { %>
                <%=surveyQ.Q_TITLE_EN%>
                <% } else if(lang == "cn") { %>
                <%=surveyQ.Q_TITLE_CN%>
                <% } else { %>
                <%=surveyQ.Q_TITLE_KO%>
                <% } %>
            </div>
        </div>

    </div>

    <div clss="col-xs-12" style="padding:10px 0px;">
        <% for(var brandNum = 0; brandNum<brandList.length; brandNum++) { %>

        <div class="row push-10-t titleBox3">

            <div class="col-xs-12 titleSelectBg" style="padding:10px 0px;">
                <div class="col-xs-9">
                    <% if(lang == "en") { %>
                    <%=brandList[brandNum].BRAND_NAME_EN%>
                    <% } else if(lang == "cn") { %>
                    <%=brandList[brandNum].BRAND_NAME_CN%>
                    <% } else { %>
                    <%=brandList[brandNum].BRAND_NAME_KO%>
                    <% } %>
                </div>
                <div class="col-xs-3 text-right">
                    <div style="display:none;">
                        <input type="radio" name="not[<%=brandNum%>]" id="NotQuestion_<%=brandNum%>" brand_code="<%=brandList[brandNum].DETAIL_BRAND_CODE%>" class="notData_<%=brandNum%>" value="99"><span></span> 모르겠음
                    </div>
                    <button id="NotQuestionBtn_<%=brandNum%>" class="btn btn-sm btn-default NotQuestion" brandNum="<%=brandNum%>">
                        모르겠음
                    </button>
                </div>

            </div>


            <div class="col-xs-12 titleCountBg text-center" style="padding-left:10px; padding-right:10px;">
                <table width="100%">
                    <tr>
                        <td><textarea name="qa[<%=brandNum%>]" id="qaData_<%=brandNum%>1" brand_code="<%=brandList[brandNum].DETAIL_BRAND_CODE%>" brandNum="<%=brandNum%>" qa_code="1" class="qaData qaData_<%=brandNum%> form-control" style="height:80px;"></textarea></td>

                    </tr>
                </table>
            </div>
        </div>


        <% } %>

    </div>
</div>
<script language="javascript" src="/view_js/survey/7.js"></script>