<%
var visual_yn = 0;
%>
<div class="row">
    <input type="hidden" id="campaign_code" value="<%=campaign_code%>">
    <div class="row">
        <div class="col-xs-12">
            <div class="wizard">
                <a href="/campaign/write/<%=campaign_code%>"><span class="badge">1</span> 설문등록</a>
                <a class="current" href="/campaign/brand/<%=campaign_code%>"><span class="badge badge-inverse">2</span> 브랜드선택</a>
                <a href="/campaign/brandPool/<%=campaign_code%>"><span class="badge">3</span> 브랜드풀선택</a>
                <a href="/campaign/question/<%=campaign_code%>"><span class="badge">4</span> 질문설정</a>
                <a href="/campaign/setting/<%=campaign_code%>"><span class="badge">5</span> 참여설정 및 보상설정</a>
            </div>
        </div>
    </div>
    <div class="push-10-t col-xs-12 bg-white box round_box_title">
        <div class="title"><span class="color">설문제목 : <%=campaign.CAMPAIGN_TITLE%></span></div>
    </div>


    <div class="push-10-t col-xs-12 bg-white box round_box">
        <div class="row">
            <div class="col-xs-12 title">
                <span class="color">가상 브랜드 사용여부</span>
                <div class="sub">설문 답변시 리스트 하단에 위치하고 모두가 답변할 가상 브랜드사용 여부를 결정해주세요 가상브랜드를 포함해 총 5개의 브랜드에 대하여 참여자의 답변이 이루어집니다. <span class="color">(필수)</span></div>
            </div>
        </div>
        <div class="contents_list">
            <table id="list" class="table table-bordered fontsize">
                <col width="50%">
                <col width="50%">
                <thead>
                    <tr>
                        <th colspan="2">가상브랜드 - <%=brandTitle%></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="radio" name="visual_yn" class="visual_yn" id="visual_yn_Y" value="Y" <% if(campaign.VIRTUAL_YN == "Y") { %>checked <% visual_yn++;%><% } %>> 사용하기</td>
                        <td><input type="radio" name="visual_yn" class="visual_yn" id="visual_yn_N" value="N" <% if(campaign.VIRTUAL_YN == "N") { %>checked <% } %>> 사용하지않기</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-xs-12 bg-white box round_box push-10-t">
        <div class="row">
            <div class="col-xs-12 title">
                <span class="color">고정브랜드 선택하기</span>
                <div class="sub">설문 답변시 리스트 상단에 위치하고 모두가 답변할 고정 브랜드를 선택해주세요. <span class="color"> (최대 <span id="brandTotal"><%=5 - visual_yn%></span>개)</span></div>
            </div>

            <div class="col-xs-12 push-10-t">
                <table class="table table-bordered fontsize">
                    <col width="5%">
                    <col width="5%">
                    <col width="20%">
                    <col width="5%">
                    <col width="50%">
                    <thead>
                        <tr>
                            <th>선택</th>
                            <th>브랜드ID</th>
                            <th>브랜드이름</th>
                            <th>메모</th>
                            <th>참조</th>
                            <th>최종수정일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i<brandlist.length; i++) { %>

                            <tr>
                                <td class="text-center"><input type="checkbox" class="brandlist" name="brandlist" value="<%=brandlist[i].DETAIL_CATEGORY_CODE%>" <% if(brandlist[i].SELECTED != 0) { %>checked<% } %> <% if(i==0) {%>disabled<%}%>></td>
                                <td><%=brandlist[i].DETAIL_CATEGORY_CODE%></td>
                                <td><%=brandlist[i].BRAND_NAME_KO%></td>
                                <td><%=brandlist[i].MEMO%></td>
                                <td><%=brandlist[i].ETC%></td>
                                <td><%=moment(brandlist[i].MODIFY_DATETIME).format("YYYY-MM-DD hh:mm:ss")%></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>

    </div>



    <div class="row">
        <div class="col-xs-6 push-20-t push-20">
            <button class="btn btn-sm btn-block btn-primary backBtn">이전</button>
        </div>

        <div class="col-xs-6 push-20-t push-20 text-right">
            <button id="brandBtn" class="btn btn-sm btn-block btn-danger">다음</button>
        </div>
    </div>
</div>






<script language="javascript" src="/view_js/campaign/brand.js"></script>
