<div class="row">
    <input type="hidden" id="campaign_code" value="<%=campaign_code%>">
    <div class="row">
        <div class="col-xs-12">
            <div class="wizard">
                <a href="/campaign/write/<%=campaign_code%>"><span class="badge">1</span> 설문등록</a>
                <a href="/campaign/brand/<%=campaign_code%>"><span class="badge">2</span> 브랜드선택</a>
                <a class="current" href="/campaign/brandPool/<%=campaign_code%>"><span class="badge badge-inverse">3</span> 브랜드풀선택</a>
                <a href="/campaign/question/<%=campaign_code%>"><span class="badge">4</span> 질문설정</a>
                <a href="/campaign/setting/<%=campaign_code%>"><span class="badge">5</span> 참여설정 및 보상설정</a>
            </div>
        </div>
    </div>
    <div class="push-10-t col-xs-12 bg-white box round_box_title">
        <div class="title"><span class="color">설문제목 : <%=campaign.CAMPAIGN_TITLE%></span></div>
    </div>


    <div class="push-10-t col-xs-12 bg-white box round_box">
        <div class="row">
            <div class="col-xs-12 title">
                <span class="color">브랜드 풀 선택하기</span>
                <div class="sub">답변자가 선택할 수 있는 브랜드들을 선택해주세요.</div>
            </div>
        </div>
        <div class="contents_list">
            <table class="table table-bordered fontsize">
                <col width="5%">
                <col width="10%">
                <col width="30%">
                <col width="5%">
                <col width="30%">
                <thead>
                <tr>
                    <th>선택</th>
                    <th>브랜드ID</th>
                    <th>브랜드이름</th>
                    <th>메모</th>
                    <th>참조</th>
                    <th>최종수정일</th>
                </tr>
                </thead>
                <tbody>
                <% for(var i = 0; i<brandList.length; i++) { %>
                <% console.log(brandList[i]); %>
                <tr>
                    <td class="text-center"><input type="checkbox" class="brandpool" name="brandpool" value="<%=brandList[i].DETAIL_CATEGORY_CODE%>" <% if(brandList[i].SELECTED != 0) { %>checked<% } %>></td>
                    <td><%=brandList[i].DETAIL_CATEGORY_CODE%></td>
                    <td><%=brandList[i].BRAND_NAME_KO%></td>
                    <td><%=brandList[i].MEMO%></td>
                    <td><%=brandList[i].ETC%></td>
                    <td><%=moment(brandList[i].MODIFY_DATETIME).format("YYYY-MM-DD hh:mm:ss")%></td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-6 push-20-t push-20">
            <button class="btn btn-sm btn-block btn-primary backBtn">이전</button>
        </div>

        <div class="col-xs-6 push-20-t push-20 text-right">
            <button id="brandBtn" class="btn btn-sm btn-block btn-danger">다음</button>
        </div>
    </div>
</div>






<script language="javascript" src="/view_js/campaign/brandPool.js"></script>