<div class="row">
    <div class="col-xs-12 bg-white box round_box">
        <div class="row">
            <div class="col-xs-10 title">
                <ul class="list-inline">
                    <li><button class="btn <% if(type == "") {%>btn-danger<% } else { %>btn-default<% } %>"><a href="/campaign/list" class="<% if(type == "") {%>text-white<% } else { %><% } %>" >전체 설문</a></button></li>
                    <li><button class="btn <% if(type == "N") {%>btn-danger<% } else { %>btn-default<% } %>"><a href="/campaign/list?type=N" class="<% if(type == "N") {%>text-white<% } else { %><% } %>">시작전 설문</a></button></li>
                    <li><button class="btn <% if(type == "S") {%>btn-danger<% } else { %>btn-default<% } %>"><a href="/campaign/list?type=S" class="<% if(type == "S") {%>text-white<% } else { %><% } %>">진행중 설문</a></button></li>
                    <li><button class="btn <% if(type == "E") {%>btn-danger<% } else { %>btn-default<% } %>"><a href="/campaign/list?type=E" class="<% if(type == "E") {%>text-white<% } else { %><% } %>">완료된 설문</a></button></li>
                </ul>
            </div>
            <div class="col-xs-2 text-right">
                <a href="/campaign/write" class="btn btn-danger btn-md btn-rounded">설문등록</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <form name="searchForm" id="searchForm" method="get" action="/campaign/list">
                <div class="input-group">
                    <input class="form-control" type="text" id="searchName" name="searchName" placeholder="설문제목으로 검색해주세요.">
                    <span class="input-group-btn">
                        <button id="searchBtn" class="btn btn-default" type="button"><i class="fa fa-search"></i> 검색</button>
                    </span>
                </div>
                </form>
            </div>
        </div>
        <div class="contents_list">
            <table id="list" class="table table-bordered fontsize">
                <col width="8%">
                <col width="8%">
                <col width="15%">
                <col width="5%">
                <col width="11%">
                <col width="11%">
                <col width="10%">
                <col width="12%">
                <col width="20%">
                <thead>
                <tr>
                    <th class="text-center">설문ID</th>
                    <th class="text-center">카테고리</th>
                    <th class="text-center">설문제목</th>
                    <th class="text-center">상태</th>
                    <th class="text-center">시작일</th>
                    <th class="text-center">종료일</th>
                    <th class="text-center">제한 / 참여</th>
                    <th class="text-center">최종수정일</th>
                    <th class="text-center">관리</th>
                </tr>
                </thead>
                <tbody>
                <%if(campaignlist.length > 0){%>
                    <% for(var i = 0; i<campaignlist.length; i++) { %>
                        <%if (campaignlist[i].CAMPAIGN_CODE != "9999999001"){%>
                        <tr id="<%=campaignlist[i].CAMPAIGN_CODE%>" class="text-center push-10 push-10-t">
                            <td><a href="/campaign/write/<%=campaignlist[i].CAMPAIGN_CODE%>" class="btn btn-danger btn-block btn-xs"><%=campaignlist[i].CAMPAIGN_CODE%></a></td>
                            <td><%=campaignlist[i].CATEGORY_NAME_KO%></td>
                            <td><%=campaignlist[i].CAMPAIGN_TITLE%></td>
                            <td>
                                <select class="status">
                                    <option value="N" <% if(campaignlist[i].CAMPAIGN_ING == "N") { %>selected<%}%>>대기</option>
                                    <option value="S" <% if(campaignlist[i].CAMPAIGN_ING == "S") { %>selected<%}%>>진행중</option>
                                    <option value="E" <% if(campaignlist[i].CAMPAIGN_ING == "E") { %>selected<%}%>>완료</option>
                                </select>
                            </td>
                            <td><a href="/campaign/write/<%=campaignlist[i].CAMPAIGN_CODE%>" ><%=moment(campaignlist[i].CAMPAIGN_STARTDATE).format("YYYY-MM-DD HH:mm")%></a></td>
                            <td><a href="/campaign/write/<%=campaignlist[i].CAMPAIGN_CODE%>" ><%=moment(campaignlist[i].CAMPAIGN_ENDDATE).format("YYYY-MM-DD HH:mm")%></a></td>
                            <td><a href="/campaign/setting/<%=campaignlist[i].CAMPAIGN_CODE%>"><%=campaignlist[i].JOIN_CNT%> / <%=campaignlist[i].JOIN_DATA%></a></td>
                            <td><%=moment(campaignlist[i].MODIFY_DATETIME).format("YYYY-MM-DD HH:mm")%></td>
                            <td class="text-center">
                                <a href="/survey/start?campaign_code=<%=campaignlist[i].CAMPAIGN_CODE%>&uid=99999999999999999001&quest_num=1&debug=true" target="_blank" class="btn btn-xs btn-success">테스트</a>

                                <button class="btn btn-xs btn-primary modifyBtn"><a href="/campaign/write/<%=campaignlist[i].CAMPAIGN_CODE%>" class="text-white" >수정</a></button>
                                <button class="btn btn-xs btn-danger deleteBtn">삭제</button>
                                <button class="btn btn-xs btn-warning hiddenBtn">숨기기</button>
                            </td>
                        </tr>
                        <%}%>
                    <% } %>
                <% } else{%>
                    <tr>
                        <td colspan="10"><h5 class="Bold text-center push-10 push-10-t">해당 리스트가 존재하지 않습니다.</h5></td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>

        <div style="text-align: center;">
            <%- pageHtml.render() %>
        </div>
    </div>
</div>



<script language="javascript" src="/view_js/campaign/list.js"></script>
