<div class="row">
    <div class="col-xs-12 bg-white box round_box">
        <div class="row">
            <div class="col-xs-10 title">
                <select class="form-control">
                    <option value="">전체 설문 목록</option>
                    <option value="">시작전 설문</option>
                    <option value="">진행중 설문</option>
                    <option value="">완료된 설문</option>
                </select>
            </div>
            <div class="col-xs-2 text-right">
                <a href="/campaign/write" class="btn btn-danger btn-md">설문등록</a>
            </div>
        </div>
        <div class="contents_list">
            <table id="list" class="table table-bordered fontsize">
                <col width="8%">
                <col width="8%">
                <col width="20%">
                <col width="5%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <thead>
                <tr>
                    <th>설문ID</th>
                    <th>카테고리</th>
                    <th>설문제목</th>
                    <th>상태</th>
                    <th>시작일</th>
                    <th>종료일</th>
                    <th>제한인원</th>
                    <th>참여인원</th>
                    <th>최종수정일</th>
                    <th>관리</th>
                </tr>
                </thead>
                <tbody>
                <% for(var i = 0; i<campaignlist.length; i++) { %>
                <tr>
                    <td><a href="/campaign/write/<%=campaignlist[i].CAMPAIGN_CODE%>" class="btn btn-danger btn-block btn-xs"><%=campaignlist[i].CAMPAIGN_CODE%></a></td>
                    <td></td>
                    <td><%=campaignlist[i].CAMPAIGN_TITLE%></td>
                    <td></td>
                    <td><%=campaignlist[i].CAMPAIGN_STARTDATE%></td>
                    <td><%=campaignlist[i].CAMPAIGN_ENDDATE%></td>
                    <td><%=campaignlist[i].JOIN_CNT%></td>
                    <td>1111</td>
                    <td><%=campaignlist[i].MODIFY_DATETIME%></td>
                    <td></td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>




<script language="javascript" src="/view_js/brand/list.js"></script>