<div class="row">
    <div class="col-xs-12 bg-white box round_box">
        <div class="row">
            <div class="col-xs-10 title">
                <select class="form-control">
                    <option value="">전체 설문 목록</option>
                    <option value="">시작전 설문</option>
                    <option value="">진행중 설문</option>
                    <option value="">완료된 설문</option>
                </select>
            </div>
            <div class="col-xs-2 text-right">
                <a href="/campaign/write" class="btn btn-danger btn-md btn-rounded">설문등록</a>
            </div>
        </div>
        <div class="contents_list">
            <table id="list" class="table table-bordered fontsize">
                <col width="8%">
                <col width="8%">
                <col width="15%">
                <col width="5%">
                <col width="10%">
                <col width="10%">
                <col width="5%">
                <col width="5%">
                <col width="10%">
                <col width="10%">
                <thead>
                <tr>
                    <th class="text-center">설문ID</th>
                    <th class="text-center">카테고리</th>
                    <th class="text-center">설문제목</th>
                    <th class="text-center">상태</th>
                    <th class="text-center">시작일</th>
                    <th class="text-center">종료일</th>
                    <th class="text-center">제한<br>인원</th>
                    <th class="text-center">참여<br>인원</th>
                    <th class="text-center">최종수정일</th>
                    <th class="text-center">관리</th>
                </tr>
                </thead>
                <tbody>
                <% for(var i = 0; i<campaignlist.length; i++) { %>
                <tr>
                    <td><a href="/campaign/write/<%=campaignlist[i].CAMPAIGN_CODE%>" class="btn btn-danger btn-block btn-xs"><%=campaignlist[i].CAMPAIGN_CODE%></a></td>
                    <td>가전제품</td>
                    <td><%=campaignlist[i].CAMPAIGN_TITLE%></td>
                    <td>대기</td>
                    <td><%=moment(campaignlist[i].CAMPAIGN_STARTDATE).format("YYYY-MM-DD hh:mm")%></td>
                    <td><%=moment(campaignlist[i].CAMPAIGN_ENDDATE).format("YYYY-MM-DD hh:mm")%></td>
                    <td><%=campaignlist[i].JOIN_CNT%></td>
                    <td>500</td>
                    <td><%=moment(campaignlist[i].MODIFY_DATETIME).format("YYYY-MM-DD hh:mm")%></td>
                    <td class="text-center">
                        <button class="btn btn-xs btn-warning deleteBtn">삭제</button>
                        <button class="btn btn-xs btn-primary modifyBtn"><a href="/campaign/write/<%=campaignlist[i].CAMPAIGN_CODE%>" class="text-white" >수정</a></button>
                    </td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>




<script language="javascript" src="/view_js/brand/list.js"></script>