<div class="row">
    <input type="hidden" id="campaign_code" value="<%=campaign_code%>">
    <div class="row">
        <div class="col-xs-12">
            <div class="wizard">
                <a href="/campaign/write/<%=campaign_code%>"><span class="badge">1</span> 설문등록</a>
                <a href="/campaign/brand/<%=campaign_code%>"><span class="badge">2</span> 브랜드선택</a>
                <a href="/campaign/brandPool/<%=campaign_code%>"><span class="badge">3</span> 브랜드풀선택</a>
                <a class="current" href="/campaign/question/<%=campaign_code%>"><span class="badge badge-inverse">4</span> 질문설정</a>
                <a href="/campaign/setting/<%=campaign_code%>"><span class="badge">5</span> 참여설정 및 보상설정</a>
            </div>
        </div>
    </div>
    <div class="push-10-t col-xs-12 bg-white box round_box_title">
        <div class="title"><span class="color">설문제목 : <%=campaign.CAMPAIGN_TITLE%></span></div>
    </div>

    <div class="push-10-t col-xs-12 bg-white box round_box">
        <div class="row">
            <div class="col-xs-12 title">
                <span class="color">질문 퀘스트 설정하기</span>
                <div class="sub">질문 그룹별 퀘스트를 선택해주세요. 참여자가 1차 퀘스트에 답변하면 2차 퀘스트에 참여할 수 있는 방식으로 이루어집니다. 순서 중간이 비어 있으면 질문이 생성이 되지 않습니다 (예: 1,2,4 단계를 선택하게 되면 2단계와 4단계 사이에 3단계 비어 있어 설문이 생성이 되지 않습니다.) 모든 질문을 사용하지 않아도 됩니다.</div>
            </div>
        </div>
        <div class="contents_list">
            <table id="list" class="table table-bordered fontsize">
                <col width="15%">
                <col width="5%">
                <col width="20%">
                <col width="5%">
                <col width="5%">
                <col width="15%">
                <col width="20%">
                <thead>
                    <tr>
                        <th>퀘스트</th>
                        <th>영역ID</th>
                        <th>영역이름</th>
                        <th>메모</th>
                        <th>항목수</th>
                        <th>유형</th>
                        <th>참조</th>
                        <th>최종수정일</th>
                    </tr>
                </thead>
                <tbody>
                <% for(var i = 0; i<q_group.length; i++) { %>
                    <tr>
                        <td>
                            <select class="form-control input-sm questQ">
                                <option value="">선택안함</option>
                                <% for(var j=1; j<=q_group.length; j++) { %>
                                <option value="<%=q_group[i].GROUP_CODE%>:::<%=j%>" <% if(j == q_group[i].QUEST_NUM) { %>selected<% } %>><%=j%></option>
                                <% } %>

                            </select>
                        </td>
                        <td><%=q_group[i].GROUP_CODE%></td>
                        <td><%=q_group[i].GROUP_NAME_KO%></td>
                        <td><%=q_group[i].MEMO%></td>
                        <td><%=q_group[i].Q_CNT%></td>
                        <td><%=q_group[i].QUESTION_TYPE_NAME%></td>
                        <td><%=q_group[i].ETC%></td>
                        <td><%=moment(q_group[i].MODIFY_DATETIME).format("YYYY-MM-DD hh:mm")%></td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>



    <div class="row">
        <div class="col-xs-6 push-20-t push-20">
            <button class="btn btn-sm btn-block btn-primary backBtn">이전</button>
        </div>

        <div class="col-xs-6 push-20-t push-20 text-right">
            <button id="questBtn" class="btn btn-sm btn-block btn-danger">다음</button>
        </div>
    </div>
</div>


<script language="javascript" src="/view_js/campaign/question.js"></script>



