
<div class="row">
    <input type="hidden" id="campaign_code" value="<%=campaign_code%>">
    <div class="row">
        <div class="col-xs-12">
            <div class="wizard">
                <a href="/campaign/write/<%=campaign_code%>"><span class="badge">1</span> 설문등록</a>
                <a href="/campaign/brand/<%=campaign_code%>"><span class="badge">2</span> 브랜드선택</a>
                <a href="/campaign/brandPool/<%=campaign_code%>"><span class="badge">3</span> 브랜드풀선택</a>
                <a href="/campaign/question/<%=campaign_code%>"><span class="badge">4</span> 질문설정</a>
                <a class="current" href="/campaign/setting/<%=campaign_code%>"><span class="badge badge-inverse">5</span> 참여설정 및 보상설정</a>
            </div>
        </div>
    </div>
    <div class="push-10-t col-xs-12 bg-white box round_box_title">
        <div class="title"><span class="color">설문제목 : <%=campaign_data.CAMPAIGN_TITLE%></span></div>
    </div>


    <div class="push-10-t col-xs-12 bg-white box round_box">
        <div class="row">
            <div class="col-xs-12 title">
                <span class="color">참여대상 설정하기</span>
                <div class="sub">설문 참여 대상의 패널 레벨을 선택해주세요. <span class="color">(최소 1개)</span></div>
            </div>
        </div>
        <div class="contents_list">
            <table id="list" class="table table-bordered fontsize">
                <col width="5%">
                <col width="10%">
                <col width="10%">
                <thead>
                <tr>
                    <th class="text-center">선택</th>
                    <th class="text-center">레벨</th>
                    <th class="text-center">회원수</th>
                    <th class="text-center">참조</th>
                    <!--<th class="text-center">관리</th>-->
                </tr>
                </thead>
                <tbody>
                <% for(var i = 0; i<gradelist.length; i++) { %>
                <tr>
                    <td class="text-center"><input type="checkbox" class="grade_code" value="<%=gradelist[i].CODE_GRADE%>" <% if(gradelist[i].CODE_GRADE == gradelist[i].GRADE_CODE) { %>checked<% } %>></td>
                    <td class="text-center"><%=gradelist[i].CODE_NAME%></td>
                    <td class="text-center"><%=gradelist[i].MEMBER_TOTAL%>명</td>
                    <td ><%=gradelist[i].CODE_DESC%></td>
                    <!--<td class="text-center"><button class="btn btn-warning btn-sm btn-rounded">업로드</button> <button class="btn btn-success btn-sm btn-rounded">다운로드</button></td>-->
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>

    </div>


    <div class="col-xs-12 bg-white box round_box push-10-t">
        <div class="row">
            <div class="col-xs-12 title">
                <span class="color">참여조건 추가하기</span>
                <div class="sub">추가하실 참여가능한 회원의 조건을 선택해주세요. 추가하실 참여조건을 선택하면 다음화면에서 세부옵션을 선택하실 수 있습니다.</div>
            </div>
        </div>
        <div class="contents_list">
            <table id="list" class="table table-bordered fontsize">
                <col width="10%">
                <thead>
                <tr>
                    <th class="text-center">구분</th>
                    <th class="text-center">조건</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-center">성별</td>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="padding-left:10px;"><label style="font-size:11px;"><input type="checkbox" id="allSex" class="multioff"> 모든 성별 </label></td>
                            </tr>
                            <tr>
                                <% for(var sexI = 0; sexI<sexQuota.length; sexI++) { %>
                                <td style="padding-left:10px;"><label style="font-size:11px;"><input type="checkbox" class="sex" name="sex" onclick="javascript:multionoff('off');" value="<%=sexQuota[sexI].CODE%>" <% if(sexQuota[sexI].CHECKED != 0) { %>checked<%}%>> <%=sexQuota[sexI].CODE_NAME%></label></td>
                                <% } %>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        출생년도
                    </td>
                    <td>

                        <!--<div class="col-xs-12"><label style="font-size:11px;"><input type="checkbox" id="allAge"> 연령제한 없음</label> </div>
                        <div class="col-xs-12">
                            만 <input type="text" id="startAge" name="startAge" class="form-control" value="<% if(ageQuota.length != 0) { %><%=ageQuota[0].START_AGE%><% } %>" style="width:50px;"> 세
                            부터
                            만 <input type="text" id="endAge" name="endAge" class="form-control" value="<% if(ageQuota.length != 0) { %><%=ageQuota[0].END_AGE%><% } %>" style="width:50px;">까지
                        </div>-->
                       <table border="0">
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td style="padding-left:10px;"><label style="font-size:11px;"><input type="checkbox" id="allAge"> 연령제한 없음</label></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="col-xs-5">
                                                   <input type="text" id="startAge" name="startAge" class="form-control" value="<% if(ageQuota.length != 0) { %><%=ageQuota[0].START_AGE%><% } %>" style="width:50px;">
                                                </div>
                                                <div class="col-xs-2">
                                                    ~
                                                </div>
                                                <div class="col-xs-5">
                                                     <input type="text" id="endAge" name="endAge" class="form-control" value="<% if(ageQuota.length != 0) { %><%=ageQuota[0].END_AGE%><% } %>" style="width:50px;">
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>

                            </tr>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td class="text-center">지역</td>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="padding-left:10px;"><label style="font-size:11px;"><input type="checkbox" id="allArea" class="multioff"> 모든 지역</label></td>
                            </tr>
                            <tr>
                                <% for(var areaI = 0; areaI<areaQuota.length; areaI++) { %>
                                <td style="padding-left:10px;"><label style="font-size:11px;"><input type="checkbox" name="area" class="area" onclick="javascript:multionoff('off');" value="<%=areaQuota[areaI].CODE_AREA%>" <% if(areaQuota[areaI].CHECKED != 0) { %>checked<%}%>> <%=areaQuota[areaI].AREA_NAME%></label></td>
                                <% } %>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">월평균지출</td>
                    <td style="padding-left:15px;">
                        <div class="col-xs-5">
                        <select id="month_money_start" class="form-control">
                            <option value="0">상관없음</option>
                            <% for(var moneyI=0; moneyI<moneyQuota.length; moneyI++) { %>
                            <option value="<%=moneyQuota[moneyI].CODE%>" <% if(moneyQuota[moneyI].MONEY_START_CODE == moneyQuota[moneyI].CODE) { %>selected<% } %>><%=moneyQuota[moneyI].CODE_NAME%></option>

                            <% } %>
                        </select>
                        </div>
                        <div class="col-xs-2 text-center"> ~ </div>
                        <div class="col-xs-5">
                            <select id="month_money_end" class="form-control">
                                <option value="0">상관없음</option>
                                <% for(var moneyI=0; moneyI<moneyQuota.length; moneyI++) { %>
                                <option value="<%=moneyQuota[moneyI].CODE%>" <% if(moneyQuota[moneyI].MONEY_END_CODE == moneyQuota[moneyI].CODE) { %>selected<% } %>><%=moneyQuota[moneyI].CODE_NAME%></option>
                                <% } %>
                            </select>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <!--
    <div class="col-xs-12 bg-white box round_box push-10-t">
        <div class="row">
            <div class="col-xs-12 title">
                <span class="color">참여 상태별 문구 설정</span>
                <div class="sub">참여한 회원이 아래 같은 상황시 보여질 문구를 설정해주세요.<span class="color">(필수)</span></div>
            </div>
        </div>
        <div class="contents_list">
            <table id="list" class="table table-bordered fontsize">
                <col width="15%">
                <tbody>
                <tr>
                    <th class="text-center">완료시</th>
                    <td><input type="text" id="complete_text" class="form-control input-sm" value="" placeholder="완료시 참여자에게 안내할 문구를 적어주세요."></td>
                </tr>
                <tr>
                    <th class="text-center">대상자 탈락시</th>
                    <td><input type="text" id="out_text" class="form-control input-sm" value="" placeholder="대상자가 아닌 참여자에게 안내할 문구를 적어주세요."></td>
                </tr>
                <tr>
                    <th class="text-center">대상인원 초과시 </th>
                    <td><input type="text" id="over_text" class="form-control input-sm" value="" placeholder="참여인원 초과된 참여자에게 안내할 문구를 적어주세요."></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    -->

    <div class="col-xs-12 bg-white box round_box push-10-t">
        <div class="row">
            <div class="col-xs-12 title">
                <span class="color">최대인원 설정하기</span>
                <div class="sub">설문에 참여가능한 최대 인원을 설정해주세요.<span class="color">(필수)</span></div>
            </div>
        </div>
        <div class="contents_list">
            <table id="list" class="table table-bordered fontsize">
                <col width="15%">
                <tbody>
                <tr>
                    <th class="text-center">최대인원(명)</th>
                    <td><input type="text" id="join_cnt" class="form-control input-sm" value="<%=campaign_data.JOIN_CNT%>"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>


    <div class="col-xs-12 bg-white box round_box push-10-t">
        <div class="row">
            <div class="col-xs-12 title">
                <span class="color">퀘스트 단계별 보상과 예상 응답 소요 시간 설정하기</span>
                <div class="sub">퀘스트 단계별 보상과 예상 응답 소요 시간을 입력해주세요. 설문참여오류보상(10P)를 제외한 최대 참여 보상이 자동 계산됩니다.</div>
            </div>
        </div>
        <div class="contents_list">
            <table id="list" class="table table-bordered fontsize">
                <col width="15%">
                <col width="15%">
                <col width="15%">
                <col width="10%">
                <thead>
                    <tr>
                        <th class="text-center">구분</th>
                        <th class="text-center">포인트(P)</th>
                        <th class="text-center">시간구분</th>
                        <th class="text-center">설정(분)</th>
                        <th class="text-center">질문유형</th>
                    </tr>
                </thead>
                <tbody>
                <% var totalPoint = 0; %>
                <% for(var i = 0; i<questList.length; i++) { %>
                <%
                totalPoint += questList[i].POINT;
                %>

                <tr>
                    <th class="text-center">퀘스트<%=questList[i].QUEST_NUM%></th>
                    <td><input type="text" id="point_<%=questList[i].QUEST_NUM%>" quest="<%=questList[i].QUEST_NUM%>" group_code="<%=questList[i].GROUP_CODE%>" class="form-control input-sm point" value="<%=questList[i].POINT%>"></td>
                    <th class="text-center">예상소요시간</th>
                    <td><input type="text" id="survey_time_<%=questList[i].QUEST_NUM%>" quest="<%=questList[i].QUEST_NUM%>" group_code="<%=questList[i].GROUP_CODE%>" class="form-control input-sm survey_time" value="<%=questList[i].SURVEY_TIME%>"></td>
                    <th>
                        <% if(questList[i].Q_LIST == "") { %>
                        <div class="row">
                            <div class="col-xs-10">
                                등록된 질문지가 존재하지 않습니다
                            </div>
                            <div class="col-xs-2 text-right">
                                <a href="#" class="btn btn-xs btn-danger">바로가기</a>
                            </div>
                        </div>



                        <% } else { %>
                        <%=questList[i].Q_LIST%>
                        <% } %>
                    </th>
                </tr>
                <% } %>
                <tr>
                    <th class="text-center">최대 참여 보상</th>
                    <td colspan="4"><input type="text" id="total_point" class="form-control input-sm" value="<%=totalPoint%>"></td>
                </tr>
                </tbody>

            </table>
        </div>

    </div>



    <div class="row">
        <div class="col-xs-6 push-20-t push-20">
            <button class="btn btn-sm btn-block btn-primary backBtn">이전</button>
        </div>

        <div class="col-xs-6 push-20-t push-20 text-right">
            <button id="settingBtn" class="btn btn-sm btn-block btn-danger">다음</button>
        </div>
    </div>
</div>




<script language="javascript" src="/view_js/campaign/setting.js"></script>


