<div class="row">
    <input type="hidden" id="campaign_code" value="<%=campaign_code%>">
    <div class="col-xs-12 bg-white box round_box">
        <div class="row">
            <div class="col-xs-10 title">
                <span class="color">새로운 설문 등록하기</span>
                <div class="sub">설문 리스트에서 참여자에게 보여질 설문의 제목과 설명을 입력해주세요</div>
            </div>
        </div>
        <div class="contents_list">
            <table id="list" class="table table-bordered fontsize">
                <col width="10%">
                <col width="90%">
                <tbody>
                    <tr>
                        <th>설문제목</th>
                        <td>
                            <input type="text" id="campaign_title" class="form-control" value="<%=campaign_title%>">
                        </td>
                    </tr>
                    <tr>
                        <th>설문설명</th>
                        <td>
                            <input type="text" id="campaign_desc" class="form-control" value="<%=campaign_desc%>">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-xs-12 bg-white box round_box push-10-t">
        <div class="row">
            <div class="col-xs-10 title">
                <span class="color">브랜드 카테고리 선택해주세요</span>
                <div class="sub">카테고리 선택하기(1개)</div>
            </div>
        </div>
        <div class="contents_list">
            <table id="list" class="table table-bordered fontsize">
                <col width="5%">
                <col width="10%">
                <col width="20%">
                <col width="5%">
                <col width="40%">
                <thead>
                    <tr>
                        <th>선택</th>
                        <th>카테고리ID</th>
                        <th>카테고리이름</th>
                        <th>메모</th>
                        <th>브랜드</th>
                        <th>최종수정일</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i<brandlist.length; i++){ %>
                    <tr>
                        <td class="text-center"><input type="radio" name="category_code" class="category_code" value="<%=brandlist[i].CATEGORY_CODE%>" <% if(category_code == brandlist[i].CATEGORY_CODE) { %>checked<% } %>></td>
                        <td class="text-center"><%=brandlist[i].CATEGORY_CODE%></td>
                        <td><%=brandlist[i].CATEGORY_NAME_KO%></td>
                        <td><%=brandlist[i].MEMO%></td>
                        <td>
                            <% if(brandlist[i].BRAND_LIST == "") { %>
                            <a href="/brand/detail/<%=brandlist[i].CATEGORY_CODE%>" class="btn btn-xs btn-danger">브랜드등록</a>
                            <% } else { %>
                            <%=brandlist[i].BRAND_LIST%>
                            <% } %>
                        </td>
                        <td>
                            <%=moment(brandlist[i].MODIFY_DATETIME).format("YYYY-MM-DD hh:mm:ss")%>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-xs-12 bg-white box round_box push-10-t">
        <div class="row">
            <div class="col-xs-12 title">
                <span class="color">설문기간 설정하기</span>
                <div class="sub">참여자가 설문에 참여할 수 있는 기간을 선택해주세요 종료 이후에는 설문 결과를 제출받지 않게 됩니다. 종료일시를 9999-12-31 23:59:59로 설정하게 되면 사용자에게는 '종료시까지'로 표시됩니다.</div>
            </div>
        </div>
        <div class="contents_list">
            <table id="list" class="table table-bordered fontsize">
                <col width="10%">
                <col width="90%">
                <tbody>
                <tr>
                    <th>시작일시</th>
                    <td>
                        <input type="text" id="campaign_startdate" class="form-control" value="<% if(campaign_startdate != "") { %><%=moment(campaign_startdate).format("YYYY-MM-DD hh:mm:ss")%><% } %>">
                    </td>
                </tr>
                <tr>
                    <th>종료일시</th>
                    <td>
                        <input type="text" id="campaign_enddate" class="form-control" value="<% if(campaign_enddate != "") { %><%=moment(campaign_enddate).format("YYYY-MM-DD hh:mm:ss")%><% } %>">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 push-20-t">
            <button class="btn btn-sm btn-block btn-primary backBtn">이전</button>
        </div>

        <div class="col-xs-6 push-20-t text-right">
            <button id="surveyCreate" class="btn btn-sm btn-block btn-danger">등록</button>
        </div>
    </div>
</div>






<script language="javascript" src="/view_js/campaign/write.js"></script>