<div class="row">
    <div class="col-xs-12 bg-white box round_box">
        <div class="row">
            <div class="col-xs-10 title">
                사용자 목록
            </div>
            <div class="col-xs-2 text-right">
                <a href="/users/write" class="btn btn-sm btn-danger">회원 추가</a>
            </div>

        </div>
        <div class="contents_list">
            <table id="list" class="table table-bordered fontsize">
                <thead>
                <tr>
                    <th>UID</th>
                    <th>등급</th>
                    <th>이름</th>
                    <th>이메일</th>
                    <th>전화번호</th>
                    <th>포인트</th>
                    <th>참여설문</th>
                    <th>최근접속</th>
                    <th>기능</th>
                </tr>
                </thead>
                <tbody>
                <% for(var i = 0; i<userData.length; i++) { %>
                <tr>
                    <td class="text-center"><a href="/users/write/<%=userData[i].UID%>" class="btn btn-xs btn-danger"><%=userData[i].UID%></a></td>
                    <td><%=userData[i].CODE_NAME%></td>
                    <td><%=userData[i].USERNAME%></td>
                    <td><%=userData[i].USEREMAIL%></td>
                    <td></td>
                    <td><%=userData[i].POINT%></td>
                    <td><%=userData[i].JOIN_SURVEY_CNT%></td>
                    <td><%=userData[i].LAST_LOGIN%></td>
                    <td></td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>


</div>






<script language="javascript" src="/view_js/users/list.js"></script>