<div class="row">

    <div class="col-xs-12 bg-white box round_box push-20-t">
        <div class="row">
            <div class="col-xs-10 title">
                <h3 class="block-title">전문패널 관리</h3>
            </div>

        </div>
        <div class="contents_list">
            <% for(var i = 0; i<userData.length; i++) { %>
            <table class="table table-bordered fontsize">
                <col width="20%">
                <col width="10%">
                <col width="10%">
                <col width="20%">
                <col width="10%">
                <col width="15%">
                <thead>
                <tr>
                    <th class="text-center">UID</th>
                    <th class="text-center">권한</th>
                    <th class="text-center">이름</th>
                    <th class="text-center">이메일</th>
                    <th class="text-center">전화번호</th>

                    <th class="text-center">패널 신청일</th>

                    <th class="text-center">관리</th>
                </tr>
                </thead>
                <tbody>


                <tr id="<%=userData[i].UID%>">
                    <td class="text-center"><%=userData[i].UID%></td>
                    <td>
                        <select class="form-control level">
                            <option value="0">레벨0</option>
                            <option value="1" <% if(userData[i].CODE_GRADE == 1) { %>selected<%}%>>레벨1</option>
                            <option value="2" <% if(userData[i].CODE_GRADE == 2) { %>selected<%}%>>레벨2</option>
                            <option value="3" <% if(userData[i].CODE_GRADE == 3) { %>selected<%}%>>레벨3</option>
                            <option value="4" <% if(userData[i].CODE_GRADE == 4) { %>selected<%}%>>레벨4</option>
                            <option value="5" <% if(userData[i].CODE_GRADE == 5) { %>selected<%}%>>레벨5</option>
                        </select>
                    </td>
                    <td><%=userData[i].USERNAME%></td>
                    <td><%=userData[i].USEREMAIL%></td>
                    <td><%=userData[i].USERPHONE%></td>
                    <!--<td><%=userData[i].Q1%></td>-->
                    <!--<td><%=userData[i].Q2%></td>-->
                    <!--<td><%=userData[i].Q3%></td>-->
                    <!--<td><%=userData[i].Q4%></td>-->
                    <td><%=moment(userData[i].INSERT_DATETIME).format("YYYY-MM-DD hh:mm")%></td>
                    <!--<td class="text-center">-->
                        <!--<select>-->
                            <!--<option value="N">전문패널 신청</option>-->
                            <!--<option value="Y">전문패널 선정</option>-->
                        <!--</select>-->
                    <!--</td>-->
                    <td class="text-center">
                        <% if(userData[i].STATUS == "Y") { %>
                        승
                        <% } else { %>
                        <a href="#" class="btn btn-xs btn-success successBtn" >승인</a> <a href="#" class="btn btn-xs btn-warning deleteBtn" >삭제</a>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <th>자기소개</th>
                    <td colspan="6"><%=userData[i].Q1%></td>
                </tr>
                <tr>
                    <th>흥미 카테고리</th>
                    <td colspan="6"><%=userData[i].Q2%></td>
                </tr>
                <tr>
                    <th>브랜드 전문성</th>
                    <td colspan="6"><%=userData[i].Q3%></td>
                </tr>
                <tr>
                    <th>운영중인 곳 소개</th>
                    <td colspan="6"><%=userData[i].Q4%></td>
                </tr>
                <% } %>
                </tbody>
            </table>

            <div class="col-xs-12 text-center">

                <!--
                <ul class="pagination pagination-md">
                    <li>
                        <a href="javascript:void(0)"><i class="fa fa-angle-left"></i></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">1</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">2</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">3</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">4</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">5</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><i class="fa fa-angle-right"></i></a>
                    </li>
                </ul>-->
                <%- pageHtml.render() %>
            </div>
        </div>
    </div>


</div>




<script language="javascript" src="/view_js/users/panel.js"></script>