<div class="row">
    <div class="row">
        <div class="col-xs-12">
            <div class="wizard">
                <a href="/users/list" class="current"><span class="badge"></span> 사용자 목록</a>
               <!-- <a class="current" href="#"><span class="badge badge-inverse">2</span> 포인트 리스트</a>-->

            </div>
        </div>
    </div>
    <input type="hidden" id="uid" value="<%=uid%>">
    <div class="push-20-t col-xs-12 bg-white box round_box">
        <div class="row">
            <div class="col-xs-12 push-10"> 포인트 히스토리</div>
            <div class="col-xs-10 title">
                <h3 class="block-title">이름 :  <%=pointList.USERNAME%> </h3>
            </div>
            <div class="col-xs-2 text-right">
                <span class="btn btn-sm btn-danger btn-rounded pointBtn">포인트 처리</span>
            </div>

        </div>
        <div class="contents_list">
            <table id="list" class="table table-bordered fontsize">
                <col width="8%">
                <col width="15%">
                <col width="25%">
                <col width="30%">
                <thead>
                <tr>
                    <th class="text-center">코드</th>
                    <th class="text-center">포인트_타입</th>
                    <th class="text-center">포인트</th>
                    <th class="text-center">포인트내용</th>
                    <th class="text-center">등록일</th>
                </tr>
                </thead>
                <tbody>

                    <% for(var i = 0; i<pointList.length; i++) { %>
                    <tr>
                        <td class="text-center"><%=pointList[i].SEQ%></td>
                        <td class="text-center">
                            <% if(pointList[i].CODE_TYPE == "OUT") { %>
                            <span class="label label-danger"><%=pointList[i].CODE_NAME%></span>
                            <% } else { %>
                            <span class="label label-success"><%=pointList[i].CODE_NAME%></span>
                            <% } %>
                        </td>
                        <td class="text-center">
                            <%=pointList[i].POINT%>P
                        </td>
                        <td>
                            <% if(pointList[i].CAMPAIGN_TITLE == "") { %>
                            <%=pointList[i].POINT_MSG%>
                            <% } else { %>
                            <%=pointList[i].CAMPAIGN_TITLE%>
                            <% } %>
                        </td>
                        <td class="text-center">
                            <%=moment(pointList[i].INSERT_DATETIME).format("YYYY-MM-DD hh:mm")%>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>

            <div class="col-xs-12 text-center">
                <%-pageHtml.render()%>

            </div>
        </div>
    </div>


</div>


<!-- 포인트 처리폼 모달 -->
<div class="modal fade" id="pointModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">포인트 처리</h3>
                </div>
                <div class="block-content">
                    <input type="hidden" id="category_code">
                    <table class="table table-bordered fontsize">
                        <col width="25%">
                        <col width="75%">
                        <tbody>
                        <tr>
                            <th class="text-center">포인트 타입<span class="check">*</span></th>
                            <td>
                                <select id="code_point" class="form-control">선택
                                    <% for(var i = 0; i<codeList.length; i++) { %>
                                    <option value="<%=codeList[i].CODE_POINT%>"><%=codeList[i].CODE_NAME%></option>
                                    <% } %>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">포인트<span class="check">*</span></th>
                            <td>
                                <input type="text" id="point" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">설문리스트</th>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">참조</th>
                            <td>
                                <input type="text" id="point_msg" class="form-control">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">닫기</button>
                <button id="pointSave" class="btn btn-sm btn-danger" type="button"><i class="fa fa-check"></i> 등록</button>
            </div>
        </div>
    </div>
</div>



<script language="javascript" src="/view_js/users/pointHistory.js"></script>