<div class="row">
    <div class="row">
        <div class="col-xs-12">
            <div class="wizard">
                <a href="/users/list"><span class="badge">1</span> 사용자관리</a>
                <a class="current" href="#"><span class="badge badge-inverse">2</span> 포인트 리스트</a>

            </div>
        </div>
    </div>
    <div class="push-20-t col-xs-12 bg-white box round_box">
        <div class="row">
            <div class="col-xs-10 title">
                <h3 class="block-title">UID : <%=pointList[0].UID%> | 이름 : <%=pointList[0].USERNAME%></h3>
            </div>
            <div class="col-xs-2 text-right">
                <span class="btn btn-sm btn-danger btn-rounded pointBtn">포인트 처리</span>
            </div>

        </div>
        <div class="contents_list">
            <table id="list" class="table table-bordered fontsize">
                <thead>
                <tr>
                    <th>코드</th>
                    <th>포인트_타입</th>
                    <th>포인트</th>
                    <th>설문</th>
                    <th>등록일</th>
                </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i<pointList.length; i++) { %>
                    <tr>
                        <td><%=pointList[i].SEQ%></td>
                        <td><%=pointList[i].POINT_TYPE%></td>
                        <td>
                            <% if(pointList[i].POINT_TYPE == "지급") { %>
                            +<%=pointList[i].POINT%>
                            <% } else { %>
                            -<%=pointList[i].POINT%>
                            <% } %>
                        </td>
                        <td>
                            <%=pointList[i].CAMPAIGN_TITLE%>
                        </td>
                        <td>
                            <%=pointList[i].INSERT_DATETIME%>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>

            <div class="col-xs-12 text-center">
                <%-pageHtml.render()%>

            </div>
        </div>
    </div>


</div>


<!-- 포인트 처리폼 모달 -->
<div class="modal fade" id="pointModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">포인트 처리</h3>
                </div>
                <div class="block-content">
                    <input type="hidden" id="category_code">
                    <table class="table table-bordered fontsize">
                        <col width="25%">
                        <col width="75%">
                        <tbody>
                        <tr>
                            <th class="text-center">포인트 타입<span class="check">*</span></th>
                            <td>
                                <select class="form-control">선택
                                <option>지급</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">포인트<span class="check">*</span></th>
                            <td>
                                <input type="text" id="point" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">참조</th>
                            <td>
                                <input type="text" id="etc" class="form-control">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">닫기</button>
                <button id="pointSave" class="btn btn-sm btn-danger" type="button"><i class="fa fa-check"></i> 등록</button>
            </div>
        </div>
    </div>
</div>



<script language="javascript" src="/view_js/users/pointHistory.js"></script>