<div class="row">
    <div class="col-xs-12 bg-white box round_box">
        <div class="row">
            <div class="col-xs-12 title">
                사용자 등록 및 수정
                <% if(userData.facebook_id != 0) { %>
                    <span class="label label-success">페이스북</span>
                    <input type="hidden" id="fb" value="2">
                <% } else { %>
                    <span class="label label-primary">일반회원</span>
                    <input type="hidden" id="fb" value="1">
                <% } %>
            </div>

        </div>
        <div class="contents_list">
            <table id="list" class="table table-bordered fontsize">
                <col width="15%">
                <col width="35%">
                <col width="15%">
                <col width="35%">
                <tbody>
                <tr>
                    <th>UID</th>
                    <td>
                        <input type="text" id="uid" class="form-control" value="<%=userData.uid%>" disabled>
                    </td>
                    <th>이메일</th>
                    <td>
                        <div class="input-group">

                            <input class="form-control" type="text" id="useremail" placeholder="email" value="<%=userData.useremail%>">
                            <span class="input-group-btn">
                            <button id="emailSearch" class="btn btn-default btn-danger" <% if(userData.uid != "") { %>disabled<% } %> type="button"><i class="fa fa-search"></i> 조회</button>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>패스워드</th>
                    <td>
                        <input type="text" id="passwd1" class="form-control">
                    </td>
                    <th>패스워드 확인</th>
                    <td>
                        <input type="text" id="passwd2" class="form-control">
                    </td>
                </tr>
                <tr>
                    <th>이름</th>
                    <td>
                        <input type="text" id="username" class="form-control" value="<%=userData.username%>">
                    </td>
                    <th>권한</th>
                    <td>
                        <select id="code_grade" class="form-control">
                            <option value="">-선택-</option>
                            <% for(var i=0; i<gradelist.length; i++) { %>
                            <option value="<%=gradelist[i].CODE_GRADE%>" <% if(userData.code_grade == gradelist[i].CODE_GRADE) { %>selected<% } %>><%=gradelist[i].CODE_NAME%> [<%=gradelist[i].CODE_DESC%>]</option>
                            <% } %>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>성별</th>
                    <td>
                        <select id="sex" class="form-control">
                            <option value="">-선택-</option>
                            <option value="1" <% if(userData.sex == "1") { %>selected<% } %>>남성</option>
                            <option value="2" <% if(userData.sex == "2") { %>selected<% } %>>여성</option>
                        </select>
                    </td>
                    <th>출생년도</th>
                    <td>
                        <input id="birthday" type="text" class="form-control" value="<%=userData.birthday%>">
                    </td>
                </tr>

                <tr>
                    <th>핸드폰번호</th>
                    <td>
                        <input id="userphone" type="text" class="form-control" value="<%=userData.phone%>">
                    </td>
                    <th>탈퇴여부</th>
                    <td>

                        <select id="member_drop" class="form-control" <%if(userData.member_drop == "") { %>disabled<%}%>>
                            <option value="">-선택-</option>
                            <option value="Y" <% if(userData.member_drop == "Y") { %>selected<% } %>>탈퇴회원</option>
                            <option value="N" <% if(userData.member_drop == "N") { %>selected<% } %>>미탈퇴회원</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>월평균소득</th>
                    <td>
                        <%=userData.money%>
                    </td>
                    <th>지역</th>
                    <td>
                        <%=userData.area_name%>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>

    <div class="row">
        <div class="col-xs-6 push-20-t">
            <button class="btn btn-sm btn-block btn-primary backBtn">이전</button>
        </div>
        <div class="col-xs-6 push-20-t">
            <button id="memberSave" class="btn btn-sm btn-block btn-danger">등록</button>
        </div>
    </div>


</div>






<script language="javascript" src="/view_js/users/write.js"></script>