<input type="hidden" id="campaign_code" value="<%=campaign_code%>">
<input type="hidden" id="group_code" value="<%=group_code%>">
<input type="hidden" id="quest_num" value="<%=quest_num%>">
<div class="row">
    <div class="row">
        <div class="col-xs-12">
            <div class="wizard">
                <a href="/campaign/list"><span class="badge">1</span> 설문관리</a>
                <a href="/statistics/group/<%=campaign_code%>/<%=quest_num%>"><span class="badge">2</span> 질문 그룹별 통계</a>
                <a href="#" class="current"><span class="badge badge-inverse">3</span> 질문별 통계</a>

            </div>
        </div>

    </div>
    <% if(data[0].QUESTION_TYPE == "1" || data[0].QUESTION_TYPE == "2"){ %>
    <div class="col-xs-12 bg-white box round_box push-30-t">

        <b>브랜드별 키워드 추천</b>
        <div class="col-xs-12 push-10-t">
        <% for(var j = 0; j<brandMax.length; j++) { %>
        <div class="col-xs-6 push-10-t">
            <b>● <%=brandMax[j]%></b> : <%=brandQName[j]%>
        </div>
        <% } %>
        </div>

    </div>
    <% } %>

    <% for(var i = 0; i<data.length; i++) { %>
        <div class="col-xs-12 bg-white box round_box push-30-t">
            <div><b><%=data[i].Q_NAME%></b></div>

            <div id="<%=data[i].Q_CODE%>" question_type="<%=data[i].QUESTION_TYPE%>" class="row col-xs-12 push-10-t chartList">
                <table id="data_<%=data[i].Q_CODE%>" width="100%" class="table-bordered">
                </table>

                <canvas id="chart_<%=data[i].Q_CODE%>" width="400" height="200"></canvas>
                <!--<div id="cloud_<%=data[i].Q_CODE%>" width="400" height="200" class="cloud"></div>-->


            </div>
        </div>
    <% } %>



    <!--
    <div class="col-xs-12 bg-white box round_box push-30-t">
            <div class="row">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">전체평균</h3>
                </div>
                <div class="block-content block-content-full push-100-l">
                    <ul style="margin:0 50px 0 50px; padding:1px 0 0 3px; border:1px solid #ddd; border-top:0; border-right:0; font-size:10px; list-style:none;">
                        <li style="position:relative; margin:10px 0; white-space:nowrap;">
                            <span style="position:absolute; width:100px; top:0; left:-90px; line-height:20px; text-align:center; color:#767676; font-weight:bold;">가전제품 1.0<br><span style="font-size:5px;">(5,000명 응답)</span></span>
                            <span style="position:relative; display:inline-block; height:20px; border:1px solid #ccc; border-left:0; background:#DA4211; width: 80%">
                                <span style="position:absolute; width:40px; line-height:20px; top:0; right:-50px; color:#767676;"> 모르겠음 3%</span>
                            </span>
                        </li>
                        <li style="position:relative; margin:20px 0; white-space:nowrap;">
                            <span style="position:absolute; width:100px; top:0; left:-90px; line-height:20px; text-align:center; color:#767676; font-weight:bold;">가구 1.0<br><span style="font-size:5px;">(3,000명 응답)</span></span>
                            <span style="position:relative; display:inline-block; height:20px; border:1px solid #ccc; border-left:0; background:#DA4211; width: 60%">
                                <span style="position:absolute; width:40px; line-height:20px; top:0; right:-50px; color:#767676;"> 모르겠음 0.5%</span>
                            </span>
                        </li>
                        <li style="position:relative; margin:20px 0; white-space:nowrap;">
                            <span style="position:absolute; width:100px; top:0; left:-90px; line-height:20px; text-align:center; color:#767676; font-weight:bold;">사무용품 1.0<br><span style="font-size:5px;">(1,000명 응답)</span></span>
                            <span style="position:relative; display:inline-block; height:20px; border:1px solid #ccc; border-left:0; background:#DA4211; width: 50%">
                                <span style="position:absolute; width:40px; line-height:20px; top:0; right:-50px; color:#767676;"> 모르겠음 1.5%</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
    <div class="col-xs-12 bg-white box round_box push-30-t">
        <div class="row">
            <div class="block-header">
                <ul class="block-options">
                    <li>
                        <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                    </li>
                </ul>
                <h3 class="block-title">관여도</h3>
            </div>
            <div class="block-content block-content-full push-100-l">
                <ul style="margin:0 50px 0 50px; padding:1px 0 0 3px; border:1px solid #ddd; border-top:0; border-right:0; font-size:10px; list-style:none;">
                    <li style="position:relative; margin:10px 0; white-space:nowrap;">
                        <span style="position:absolute; width:100px; top:0; left:-90px; line-height:20px; text-align:center; color:#767676; font-weight:bold;">가전제품 1.0<br><span style="font-size:5px;">(5,000명 응답)</span></span>
                        <span style="position:relative; display:inline-block; height:20px; border:1px solid #ccc; border-left:0; background:#DA4211; width: 80%">
                                <span style="position:absolute; width:40px; line-height:20px; top:0; right:-50px; color:#767676;"> 모르겠음: 150</span>
                        </span>
                    </li>
                    <li style="position:relative; margin:20px 0; white-space:nowrap;">
                        <span style="position:absolute; width:100px; top:0; left:-90px; line-height:20px; text-align:center; color:#767676; font-weight:bold;">가구 1.0<br><span style="font-size:5px;">(3,000명 응답)</span></span>
                        <span style="position:relative; display:inline-block; height:20px; border:1px solid #ccc; border-left:0; background:#DA4211; width: 60%">
                                <span style="position:absolute; width:40px; line-height:20px; top:0; right:-50px; color:#767676;"> 모르겠음: 300</span>
                        </span>
                    </li>
                    <li style="position:relative; margin:20px 0; white-space:nowrap;">
                        <span style="position:absolute; width:100px; top:0; left:-90px; line-height:20px; text-align:center; color:#767676; font-weight:bold;">사무용품 1.0<br><span style="font-size:5px;">(1,000명 응답)</span></span>
                        <span style="position:relative; display:inline-block; height:20px; border:1px solid #ccc; border-left:0; background:#DA4211; width: 50%">
                                <span style="position:absolute; width:40px; line-height:20px; top:0; right:-50px; color:#767676;"> 모르겠음: 100</span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12 bg-white box round_box push-30-t">
        <div class="row">
            <div class="block-header">
                <ul class="block-options">
                    <li>
                        <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                    </li>
                </ul>
                <h3 class="block-title">디자인지향도</h3>
            </div>
            <div class="block-content block-content-full push-100-l">
                <ul style="margin:0 50px 0 50px; padding:1px 0 0 3px; border:1px solid #ddd; border-top:0; border-right:0; font-size:10px; list-style:none;">
                    <li style="position:relative; margin:10px 0; white-space:nowrap;">
                        <span style="position:absolute; width:100px; top:0; left:-90px; line-height:20px; text-align:center; color:#767676; font-weight:bold;">가전제품 1.0<br><span style="font-size:5px;">(5,000명 응답)</span></span>
                        <span style="position:relative; display:inline-block; height:20px; border:1px solid #ccc; border-left:0; background:#DA4211; width: 80%">
                                <span style="position:absolute; width:40px; line-height:20px; top:0; right:-50px; color:#767676;"> 모르겠음: 150</span>
                        </span>
                    </li>
                    <li style="position:relative; margin:20px 0; white-space:nowrap;">
                        <span style="position:absolute; width:100px; top:0; left:-90px; line-height:20px; text-align:center; color:#767676; font-weight:bold;">가구 1.0<br><span style="font-size:5px;">(3,000명 응답)</span></span>
                        <span style="position:relative; display:inline-block; height:20px; border:1px solid #ccc; border-left:0; background:#DA4211; width: 60%">
                                <span style="position:absolute; width:40px; line-height:20px; top:0; right:-50px; color:#767676;"> 모르겠음: 0</span>
                        </span>
                    </li>
                    <li style="position:relative; margin:20px 0; white-space:nowrap;">
                        <span style="position:absolute; width:100px; top:0; left:-90px; line-height:20px; text-align:center; color:#767676; font-weight:bold;">사무용품 1.0<br><span style="font-size:5px;">(1,000명 응답)</span></span>
                        <span style="position:relative; display:inline-block; height:20px; border:1px solid #ccc; border-left:0; background:#DA4211; width: 50%">
                                <span style="position:absolute; width:40px; line-height:20px; top:0; right:-50px; color:#767676;"> 모르겠음: 200</span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    -->

</div>



<script src="/assets/js/chart.js"></script>
<script src="/view_js/statistics/groupData.js"></script>
<script src="/assets/jqcloud/jqcloud.js"></script>










