<div class="row">
    <div class="row">
        <div class="col-xs-12">
            <div class="wizard">
                <a href="/campaign/list"><span class="badge">1</span> 설문관리</a>
                <a href="#" class="current"><span class="badge badge-inverse">2</span> 질문 그룹별 통계</a>

            </div>
        </div>
    </div>
    <div class="col-xs-12 push-10-t bg-white box round_box">
        <div class="row">
            <div class="col-xs-12 title text-center">
                <b style="color:#da4211; font-size:20px;"><%=campaignData.CAMPAIGN_TITLE%></b>
            </div>
        </div>
        <div class="row push-20-t">
            <div class="col-xs-10 title">
                퀘스트
            </div>
        </div>
        <div class="contents_list">
            <table id="list" class="table table-bordered fontsize">
                <col width="10%">
                <col width="10%">
                <col width="20%">
                <col width="20%">
                <col width="20%">
                <thead>
                <tr>
                    <th class="text-center">퀘스트</th>
                    <th class="text-center">참여인원</th>
                    <th class="text-center">지급포인트</th>
                    <th class="text-center">예상소요시간</th>
                    <th class="text-center">평균소요시간</th>
                    <th class="text-center">DATA</th>
                </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i<questData.length; i++) { %>
                    <% if(quest_num == questData[i].QUEST_NUM) { %>
                    <tr style="background-color:#ccc;">
                    <% } else { %>
                    <tr>
                    <% } %>

                        <td class="text-center">
                            <span class="badge badge-info"><i class="glyphicon glyphicon-sort-by-attributes-alt"></i>&nbsp;<%=questData[i].QUEST_NUM%>차</span>
                        </td>
                        <td class="text-center">
                            <span class="badge badge-info"><i class="fa fa-user"></i>&nbsp;<%=questData[i].TOTAL%>명</span>

                        </td>
                        <td class="text-center">
                            <i class="fa fa-money"></i>
                            <%=questData[i].SUM_POINT%></td>
                        <td class="text-center">
                            <i class="glyphicon glyphicon-time"></i>
                            <%=questData[i].SURVEY_TIME%></td>
                        <td class="text-center">
                            <i class="glyphicon glyphicon-time"></i>
                            <%=questData[i].AVG_TIME%></td>
                        <td class="text-center">
                            <a href="/statistics/group/<%=campaign_code%>/<%=questData[i].QUEST_NUM%>" class="btn btn-xs btn-danger"><i class="fa fa-dashboard"></i>&nbsp;통계</a>
                            <a href="/campaign/joinUser/<%=campaign_code%>/<%=questData[i].QUEST_NUM%>" class="btn btn-xs btn-warning"><i class="fa fa-user"></i>&nbsp;검증대상자</a>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>



        <div class="row">
            <div class="col-xs-10 title">
                질문 그룹별 통계
            </div>
        </div>
        <div class="contents_list">
            <table id="list" class="table table-bordered fontsize">
                <thead>
                <tr>
                    <th>질문그룹ID</th>
                    <th>질문그룹 이름</th>
                    <th>메모</th>
                    <th>질문수</th>
                    <th>유형</th>
                    <th>퀘스트</th>
                    <th>참조</th>
                    <th>데이터 보기</th>
                </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i<groupList.length; i++) { %>
                    <tr>
                        <td><%=groupList[i].GROUP_CODE%></td>
                        <td><a href="/statistics/group/<%=groupList[i].GROUP_CODE%>"><%=groupList[i].GROUP_NAME_KO%></a></td>
                        <td><%=groupList[i].MEMO%></td>
                        <td><%=groupList[i].Q_CNT%></td>
                        <td><%=groupList[i].QUESTION_TYPE_NAME%></td>
                        <td><%=groupList[i].QUEST_NUM%></td>
                        <td><%=groupList[i].ETC%></td>
                        <td class="text-center">
                            <a href="/statistics/group/rawdata?campaign_code=<%=campaign_code%>&quest_num=<%=groupList[i].QUEST_NUM%>&group_q=<%=groupList[i].GROUP_CODE%>" class="btn btn-xs btn-success"><i class="fa fa-download"></i>&nbsp;RAWDATA</a>
                            <% if(groupList[i].QUESTION_TYPE == "1"){ %>
                            <a href="/statistics/group/brandrawdata?campaign_code=<%=campaign_code%>&quest_num=<%=groupList[i].QUEST_NUM%>&group_q=<%=groupList[i].GROUP_CODE%>" class="btn btn-xs btn-primary">키워드순위</a>

                            <a href="/statistics/group/questionrawdata?campaign_code=<%=campaign_code%>&quest_num=<%=groupList[i].QUEST_NUM%>&group_q=<%=groupList[i].GROUP_CODE%>" class="btn btn-xs btn-primary">브랜드순위</a>
                            <a href="/statistics/group/questionrawdata_all?campaign_code=<%=campaign_code%>&quest_num=<%=groupList[i].QUEST_NUM%>&group_q=<%=groupList[i].GROUP_CODE%>" class="btn btn-xs btn-warning">브랜드원본</a>
                            <% } %>
                            <a href="/statistics/groupData/<%=campaign_code%>/<%=groupList[i].GROUP_CODE%>/<%=groupList[i].QUEST_NUM%>" class="btn btn-xs btn-danger"><i class="fa fa-bar-chart"></i>&nbsp;통계보기</a>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>



    <!--
    <div class="col-xs-12 bg-white box round_box push-30-t">
            <div class="row">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">전체평균</h3>
                </div>
                <div class="block-content block-content-full push-100-l">
                    <ul style="margin:0 50px 0 50px; padding:1px 0 0 3px; border:1px solid #ddd; border-top:0; border-right:0; font-size:10px; list-style:none;">
                        <li style="position:relative; margin:10px 0; white-space:nowrap;">
                            <span style="position:absolute; width:100px; top:0; left:-90px; line-height:20px; text-align:center; color:#767676; font-weight:bold;">가전제품 1.0<br><span style="font-size:5px;">(5,000명 응답)</span></span>
                            <span style="position:relative; display:inline-block; height:20px; border:1px solid #ccc; border-left:0; background:#DA4211; width: 80%">
                                <span style="position:absolute; width:40px; line-height:20px; top:0; right:-50px; color:#767676;"> 모르겠음 3%</span>
                            </span>
                        </li>
                        <li style="position:relative; margin:20px 0; white-space:nowrap;">
                            <span style="position:absolute; width:100px; top:0; left:-90px; line-height:20px; text-align:center; color:#767676; font-weight:bold;">가구 1.0<br><span style="font-size:5px;">(3,000명 응답)</span></span>
                            <span style="position:relative; display:inline-block; height:20px; border:1px solid #ccc; border-left:0; background:#DA4211; width: 60%">
                                <span style="position:absolute; width:40px; line-height:20px; top:0; right:-50px; color:#767676;"> 모르겠음 0.5%</span>
                            </span>
                        </li>
                        <li style="position:relative; margin:20px 0; white-space:nowrap;">
                            <span style="position:absolute; width:100px; top:0; left:-90px; line-height:20px; text-align:center; color:#767676; font-weight:bold;">사무용품 1.0<br><span style="font-size:5px;">(1,000명 응답)</span></span>
                            <span style="position:relative; display:inline-block; height:20px; border:1px solid #ccc; border-left:0; background:#DA4211; width: 50%">
                                <span style="position:absolute; width:40px; line-height:20px; top:0; right:-50px; color:#767676;"> 모르겠음 1.5%</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
    <div class="col-xs-12 bg-white box round_box push-30-t">
        <div class="row">
            <div class="block-header">
                <ul class="block-options">
                    <li>
                        <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                    </li>
                </ul>
                <h3 class="block-title">관여도</h3>
            </div>
            <div class="block-content block-content-full push-100-l">
                <ul style="margin:0 50px 0 50px; padding:1px 0 0 3px; border:1px solid #ddd; border-top:0; border-right:0; font-size:10px; list-style:none;">
                    <li style="position:relative; margin:10px 0; white-space:nowrap;">
                        <span style="position:absolute; width:100px; top:0; left:-90px; line-height:20px; text-align:center; color:#767676; font-weight:bold;">가전제품 1.0<br><span style="font-size:5px;">(5,000명 응답)</span></span>
                        <span style="position:relative; display:inline-block; height:20px; border:1px solid #ccc; border-left:0; background:#DA4211; width: 80%">
                                <span style="position:absolute; width:40px; line-height:20px; top:0; right:-50px; color:#767676;"> 모르겠음: 150</span>
                        </span>
                    </li>
                    <li style="position:relative; margin:20px 0; white-space:nowrap;">
                        <span style="position:absolute; width:100px; top:0; left:-90px; line-height:20px; text-align:center; color:#767676; font-weight:bold;">가구 1.0<br><span style="font-size:5px;">(3,000명 응답)</span></span>
                        <span style="position:relative; display:inline-block; height:20px; border:1px solid #ccc; border-left:0; background:#DA4211; width: 60%">
                                <span style="position:absolute; width:40px; line-height:20px; top:0; right:-50px; color:#767676;"> 모르겠음: 300</span>
                        </span>
                    </li>
                    <li style="position:relative; margin:20px 0; white-space:nowrap;">
                        <span style="position:absolute; width:100px; top:0; left:-90px; line-height:20px; text-align:center; color:#767676; font-weight:bold;">사무용품 1.0<br><span style="font-size:5px;">(1,000명 응답)</span></span>
                        <span style="position:relative; display:inline-block; height:20px; border:1px solid #ccc; border-left:0; background:#DA4211; width: 50%">
                                <span style="position:absolute; width:40px; line-height:20px; top:0; right:-50px; color:#767676;"> 모르겠음: 100</span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12 bg-white box round_box push-30-t">
        <div class="row">
            <div class="block-header">
                <ul class="block-options">
                    <li>
                        <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                    </li>
                </ul>
                <h3 class="block-title">디자인지향도</h3>
            </div>
            <div class="block-content block-content-full push-100-l">
                <ul style="margin:0 50px 0 50px; padding:1px 0 0 3px; border:1px solid #ddd; border-top:0; border-right:0; font-size:10px; list-style:none;">
                    <li style="position:relative; margin:10px 0; white-space:nowrap;">
                        <span style="position:absolute; width:100px; top:0; left:-90px; line-height:20px; text-align:center; color:#767676; font-weight:bold;">가전제품 1.0<br><span style="font-size:5px;">(5,000명 응답)</span></span>
                        <span style="position:relative; display:inline-block; height:20px; border:1px solid #ccc; border-left:0; background:#DA4211; width: 80%">
                                <span style="position:absolute; width:40px; line-height:20px; top:0; right:-50px; color:#767676;"> 모르겠음: 150</span>
                        </span>
                    </li>
                    <li style="position:relative; margin:20px 0; white-space:nowrap;">
                        <span style="position:absolute; width:100px; top:0; left:-90px; line-height:20px; text-align:center; color:#767676; font-weight:bold;">가구 1.0<br><span style="font-size:5px;">(3,000명 응답)</span></span>
                        <span style="position:relative; display:inline-block; height:20px; border:1px solid #ccc; border-left:0; background:#DA4211; width: 60%">
                                <span style="position:absolute; width:40px; line-height:20px; top:0; right:-50px; color:#767676;"> 모르겠음: 0</span>
                        </span>
                    </li>
                    <li style="position:relative; margin:20px 0; white-space:nowrap;">
                        <span style="position:absolute; width:100px; top:0; left:-90px; line-height:20px; text-align:center; color:#767676; font-weight:bold;">사무용품 1.0<br><span style="font-size:5px;">(1,000명 응답)</span></span>
                        <span style="position:relative; display:inline-block; height:20px; border:1px solid #ccc; border-left:0; background:#DA4211; width: 50%">
                                <span style="position:absolute; width:40px; line-height:20px; top:0; right:-50px; color:#767676;"> 모르겠음: 200</span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    -->

</div>



<script language="javascript" src="/view_js/statistics/group.js"></script>
<script src="/assets/js/plugins/chartjs/Chart.min.js"></script>
