<input type="hidden" id="group_code" value="<%=group_code%>">
<input type="hidden" id="q_code" value="">
<input type="hidden" id="question_type" value="<%=grouplist.QUESTION_TYPE%>">


<div class="row">
    <div class="col-xs-12 bg-white box round_box">
        <div class="row">
            <div class="col-xs-10 title">
                <h3 class="block-title"> 문항그룹 - <span class="text-info"><%=grouplist.GROUP_NAME_KO%></span></h3>
            </div>

            <div class="col-xs-2 text-right">
                <button id="brandCategoryBtn" class="btn btn-danger btn-block btn-xs btn-rounded"><a href="/question/group" class="text-white">문항그룹 목록</a> </button>
            </div>
        </div>
        <div class="contents_list">
            <table id="list" class="table table-bordered fontsize">
                <col width="8%">
                <col width="15%">
                <col width="5%">
                <col width="8%">
                <col width="15%">
                <col width="15%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <thead>
                <tr>
                    <th class="text-center">질문그룹ID</th>
                    <th class="text-center">질문그룹 이름</th>
                    <th class="text-center">메모</th>
                    <th class="text-center">유형</th>
                    <th class="text-center">질문그룹 영문</th>
                    <th class="text-center">질문그룹 중문</th>
                    <th class="text-center">참조</th>
                    <th class="text-center">최근수정일</th>
                    <!--<th class="text-center">상태</th>-->
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-center"><%=grouplist.GROUP_CODE%></td>
                    <td><%=grouplist.GROUP_NAME_KO%></td>
                    <td class="text-center"><%=grouplist.MEMO%></td>
                    <td class="text-center" id="question_type"><%=grouplist.QUESTION_TYPE_NAME%></td>
                    <td class="text-center"><%=grouplist.GROUP_NAME_EN%></td>
                    <td class="text-center"><%=grouplist.GROUP_NAME_CN%></td>
                    <td class="text-center"><%=grouplist.ETC%></td>
                    <td class="text-center"><%=moment(grouplist.MODIFY_DATETIME).format("YYYY-MM-DD hh:ss")%></td>
                    <!--<td>
                        <select class="form-control use_yn">
                            <option value="Y">사용중</option>
                            <option value="N">사용안함</option>
                        </select>
                    </td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-xs-12 bg-white box round_box push-10-t">
        <div class="row">
            <div class="col-xs-10 title">
                <h3 class="block-title">세부 문항 -  <span class="text-info"><%=grouplist.GROUP_NAME_KO%></span> </h3>
            </div>
            <div class="col-xs-2 text-right"></div>
        </div>
    </div>

    <!-- 7점 척도 세부질문 view-->
    <div id="questionList">

    </div>

    <% if(grouplist.QUESTION_TYPE == 2) { %>
    <div class="row">
        <div class="col-xs-12 push-20-t push-20 text-center">
            <button id="img_7scaleCreate" class="btn btn-sm btn-block btn-danger">질문추가하기(이미지7점척도)</button>
        </div>
    </div>
    <% } %>
    <% if(grouplist.QUESTION_TYPE == 1) { %>
    <div class="row">
        <div class="col-xs-12 push-20-t push-20 text-center">
            <button id="7scaleCreate" class="btn btn-sm btn-block btn-danger">질문추가하기(7점척도)</button>
        </div>
    </div>
    <% } %>


    <% if(grouplist.QUESTION_TYPE == 3) { %>
    <div class="row">
        <div class="col-xs-12 push-20-t push-20 text-center">
            <button id="imgTextCreate" class="btn btn-sm btn-block btn-danger">질문추가하기(이미지선택/주관식)</button>
        </div>
    </div>
    <% } %>

    <% if(grouplist.QUESTION_TYPE == 4) { %>
    <div class="row">
        <div class="col-xs-12 push-20-t push-20 text-center">
            <button id="radioCreate" class="btn btn-sm btn-block btn-danger">질문추가하기(양자택일)</button>
        </div>
    </div>
    <% } %>

    <% if(grouplist.QUESTION_TYPE == 5) { %>
    <div class="row">
        <div class="col-xs-12 push-20-t push-20 text-center">
            <button id="multiCreate" class="btn btn-sm btn-block btn-danger">질문추가하기(선택형)</button>
        </div>
    </div>
    <% } %>

    <% if(grouplist.QUESTION_TYPE == 6) { %>
    <div class="row">
        <div class="col-xs-12 push-20-t push-20 text-center">
            <button id="radioCreate" class="btn btn-sm btn-block btn-danger">질문추가하기(단일선택형)</button>
        </div>
    </div>
    <% } %>

</div>

<!-- 이미지 7점 척도 등록폼 모달 -->
<div class="modal fade" id="img_7scaleModal" tabindex="-1" role="dialog" aria-hidden="true">


    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="scaleImg_Form" name="saleImg_Form" enctype="multipart/form-data">
            <input type="hidden" id="scaleImg1">
            <input type="hidden" id="scaleImg2">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">세부 질문 유형 - 이미지 7점척도</h3>
                </div>
                <div class="block-content">
                    <input type="hidden" id="question_code">
                    <table class="table table-bordered fontsize">
                        <col width="15%">
                        <col width="10%">
                        <col width="25%">
                        <col width="15%">
                        <col width="10%">
                        <col width="25%">
                        <tbody>
                        <tr>
                            <th class="text-center">질문 이름<span class="check">*</span></th>
                            <td colspan="5">
                                <input type="text" id="scaleImg_q_name" class="form-control" placeholder="통계 활용에 쓰일 질문이름(키워드)을 입력해주세요.(필수)">
                            </td>
                        </tr>
                        <tr>

                            <th rowspan="3" id="img1">
                            </th>
                            <th class="text-center">이미지 이름1<span class="check">*</span></th>
                            <td>
                                <input type="text" id="scaleImg_qa_title_ko1" qa_code="" class="form-control" placeholder="좌측 항목 이름을 입력해주세요.(필수)">
                            </td>
                            <th rowspan="3" id="img2">
                            </th>
                            <th class="text-center">이미지 이름2<span class="check">*</span></th>
                            <td>
                                <input type="text" id="scaleImg_qa_title_ko2" qa_code="" class="form-control" placeholder="우측 항목 이름을 입력해주세요.(필수)">
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">이미지 영문1</th>
                            <td>
                                <input type="text" id="scaleImg_qa_title_en1" class="form-control" placeholder="좌측 항목 영문을 입력해주세요.">
                            </td>
                            <th class="text-center">이미지 영문2</th>
                            <td>
                                <input type="text" id="scaleImg_qa_title_en2" class="form-control" placeholder="우측 항목 영문을 입력해주세요.">
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">이미지 중문1</th>
                            <td>
                                <input type="text" id="scaleImg_qa_title_cn1" class="form-control" placeholder="좌측 항목 중문을 입력해주세요.">
                            </td>
                            <th class="text-center">이미지 중문2</th>
                            <td>
                                <input type="text" id="scaleImg_qa_title_cn2" class="form-control" placeholder="우측 항목 중문을 입력해주세요.">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center"><!--<a href="javascript:void(0);" id="scaleImg1Btn" class="btn btn-sm btn-default">업로드하기<span class="check">*</span></a>-->
                                <span class="btn btn-default btn-sm fileinput-button">
                                    <span>업로드하기 <span class="check">*</span></span>
                                                                <!-- The file input field used as target for the file upload widget -->
                                    <input id="fileupload" type="file" name="qa_title_img">
                                </span>
                            </td>
                            <th class="text-center">파일이름</th>
                            <td>권장사이즈(350*350px 이상)</td>


                            <td class="text-center">
                                <span class="btn btn-default btn-sm fileinput-button">
                                    <span>업로드하기 <span class="check">*</span></span>
                                    <!-- The file input field used as target for the file upload widget -->
                                    <input id="fileupload2" type="file" name="qa_title_img">
                                </span>

                            </td>
                            <th class="text-center">파일이름</th>
                            <td>권장사이즈(350*350px 이상)</td>


                        </tr>
                        <tr>
                            <th class="text-center">질문 메모<span class="check">*</span></th>
                            <td colspan="5">
                                <input type="text" id="scaleImg_memo" class="form-control" placeholder="버전관리를 위한 메모를 입력해주세요.(필수)">
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">질문 내용<span class="check">*</span></th>
                            <td colspan="5">
                                <input type="text" id="scaleImg_q_title_ko" class="form-control" placeholder="설문참여시 사용자에게 보여질 질문 내용을 입력해주세요.(필수)">
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">질문 영문</th>
                            <td colspan="5">
                                <input type="text" id="scaleImg_q_title_en" class="form-control" placeholder="영문 질문 설명을 입력해주세요.">
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">질문 중문</th>
                            <td colspan="5">
                                <input type="text" id="scaleImg_q_title_cn" class="form-control" placeholder="중문 질문 설명을 입력해주세요.">
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">참조</th>
                            <td colspan="5">
                                <input type="text" id="scaleImg_etc" class="form-control" placeholder="설문 참여시 참고할 사항을 입력해주세요.">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </form>
            <div class="modal-footer">
                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">닫기</button>
                <button id="scaleImgSave" class="btn btn-sm btn-danger" type="button"><i class="fa fa-check"></i> 저장</button>
            </div>
        </div>
    </div>
</div>

<!-- 7점 척도 등록폼 모달 -->
<div class="modal fade" id="7scaleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">세부 질문 유형 - 7점척도</h3>
                </div>
                <div class="block-content">

                    <input type="hidden" id="question_code">
                    <table class="table table-bordered fontsize">
                        <col width="12%">
                        <col width="20%">
                        <col width="12%">
                        <col width="20%">
                        <col width="12%">
                        <col width="20%">
                        <tbody>
                            <tr>
                                <th class="text-center">질문 이름<span class="check">*</span></th>
                                <td colspan="5">
                                    <input type="text" id="scale_q_name" class="form-control" placeholder="통계 활용에 쓰일 질문이름(키워드)을 입력해주세요.(필수)">
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center">질문 메모<span class="check">*</span></th>
                                <td colspan="5">
                                    <input type="text" id="scale_memo" class="form-control" placeholder="버전관리를 위한 메모를 입력해주세요.(필수)">
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center">질문 내용<span class="check">*</span></th>
                                <td colspan="5">
                                    <input type="text" id="scale_q_title_ko" class="form-control" placeholder="설문참여시 사용자에게 보여질 질문 내용을 입력해주세요.(필수)">
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center">좌측보기 내용<span class="check">*</span></th>
                                <td><input type="text" id="scale_qa_title_ko1" qa_code="" class="form-control" placeholder="좌측 보기를 입력해주세요."></td>
                                <th class="text-center">중간보기 내용<span class="check">*</span></th>
                                <td><input type="text" id="scale_qa_title_ko2" qa_code="" class="form-control" placeholder="중간 보기를 입력해주세요."></td>
                                <th class="text-center">우측보기 내용<span class="check">*</span></th>
                                <td><input type="text" id="scale_qa_title_ko3" qa_code="" class="form-control" placeholder="우측 보기를 입력해주세요."></td>
                            </tr>
                            <tr>
                                <th class="text-center">질문 영문</th>
                                <td colspan="5">
                                    <input type="text" id="scale_q_title_en"  class="form-control" placeholder="영문 질문 설명을 입력해주세요.">
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center">좌측영문 내용</th>
                                <td><input type="text" id="scale_qa_title_en1" class="form-control" placeholder="좌측 영문을 입력해주세요."></td>
                                <th class="text-center">중간영문 내용</th>
                                <td><input type="text" id="scale_qa_title_en2" class="form-control" placeholder="중간 영문을 입력해주세요."></td>
                                <th class="text-center">우측영문 내용</th>
                                <td><input type="text" id="scale_qa_title_en3" class="form-control" placeholder="우측 영문을 입력해주세요."></td>
                            </tr>
                            <tr>
                                <th class="text-center">질문 중문</th>
                                <td colspan="5">
                                    <input type="text" id="scale_q_title_cn" class="form-control" placeholder="중문 질문 설명을 입력해주세요.">
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center">좌측중문 내용</th>
                                <td><input type="text" id="scale_qa_title_cn1" class="form-control" placeholder="좌측 중문을 입력해주세요."></td>
                                <th class="text-center">중간중문 내용</th>
                                <td><input type="text" id="scale_qa_title_cn2" class="form-control" placeholder="중간 중문을 입력해주세요."></td>
                                <th class="text-center">우측중문 내용</th>
                                <td><input type="text" id="scale_qa_title_cn3" class="form-control" placeholder="우측 중문을 입력해주세요."></td>
                            </tr>
                            <tr>
                                <th class="text-center">참조</th>
                                <td colspan="5">
                                    <input type="text" id="scale_etc" class="form-control" placeholder="설문 참여시 참고할 사항을 입력해주세요.">
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">닫기</button>
                <button id="scaleSave" class="btn btn-sm btn-danger" type="button"><i class="fa fa-check"></i> 저장</button>
            </div>
        </div>
    </div>
</div>

<!-- 이미지 선택/주관식 등록폼 모달 -->
<div class="modal fade" id="imgTextModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">세부 질문 유형 - 이미지 선택/주관식</h3>
                </div>
                <div class="block-content">
                    <input type="hidden" id="img_code">
                    <table class="table table-bordered fontsize">
                        <col width="17%">
                        <col width="8%">
                        <col width="17%">
                        <col width="8%">
                        <col width="17%">
                        <col width="8%">
                        <col width="17%">
                        <col width="8%">
                        <tbody>
                        <tr>
                            <th class="text-center">질문 이름<span class="check">*</span></th>
                            <td colspan="7">
                                <input type="text" id="img_q_name" class="form-control" placeholder="통계 활용에 쓰일 질문이름(키워드)을 입력해주세요.(필수)">
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">질문 메모<span class="check">*</span></th>
                            <td colspan="7">
                                <input type="text" id="img_q_memo" class="form-control" placeholder="버전관리를 위한 메모를 입력해주세요.(필수)">
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">이미지 최소<br> 선택갯수<upper class="check">*</upper></th>
                            <td class="check"><input type="text" id="img_q_min" class="form-control"></td>
                            <th class="text-center">이미지 최대<br> 선택갯수<upper class="check">*</upper></th>
                            <td class="check"><input type="text" id="img_q_max" class="form-control"></td>
                            <th class="text-center">주관식 최소<br> 선택갯수<upper class="check">*</upper></th>
                            <td class="check"><input type="text" id="text_q_min" class="form-control"></td>
                            <th class="text-center">주관식 최대<br> 선택갯수<upper class="check">*</upper></th>
                            <td class="check"><input type="text" id="text_q_max" class="form-control"></td>
                        </tr>
                        <tr>
                            <th class="text-center">질문 내용<span class="check">*</span></th>
                            <td colspan="7">
                                <input type="text" id="img_q_title_ko" class="form-control" placeholder="설문참여시 사용자에게 보여질 질문 내용을 입력해주세요.(필수)">
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">질문 영문</th>
                            <td colspan="7">
                                <input type="text" id="img_q_title_en"class="form-control" placeholder="영문 질문 설명을 입력해주세요.">
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">질문 중문</th>
                            <td colspan="7">
                                <input type="text" id="img_q_title_cn" class="form-control" placeholder="중문 질문 설명을 입력해주세요.">
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">참조</th>
                            <td colspan="7">
                                <input type="text" id="img_etc" class="form-control" placeholder="설문 참여시 참고할 사항을 입력해주세요.">
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="table table-bordered fontsize">
                        <div class="text-right col-md-12 push-10">
                            <button id="qaBtn_imgText" class="btn btn-info btn-sm">이미지 추가</button>
                        </div>
                        <col width="15%">
                        <col width="10%">
                        <col width="25%">
                        <col width="15%">
                        <col width="25%">
                        <tbody id="imgTemplate">

                        </tbody>
                    </table>

                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">닫기</button>
                <button id="imgTextSave" class="btn btn-sm btn-danger" type="button"><i class="fa fa-check"></i> 저장</button>
            </div>
        </div>
    </div>
</div>

<!-- 양자택일 등록폼 모달 -->
<div class="modal fade" id="singleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">세부 질문 유형 - 양자택일형</h3>
                </div>
                <div class="block-content">
                    <input type="hidden" id="img_code">
                    <table class="table table-bordered fontsize">
                        <col width="17%">
                        <col width="8%">
                        <col width="17%">
                        <col width="8%">
                        <col width="17%">
                        <col width="8%">
                        <col width="17%">
                        <col width="8%">
                        <tbody>
                        <tr>
                            <th class="text-center">질문 이름<span class="check">*</span></th>
                            <td colspan="7">
                                <input type="text" id="single_q_name" class="form-control" placeholder="통계 활용에 쓰일 질문이름(키워드)을 입력해주세요.(필수)">
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">질문 내용<span class="check">*</span></th>
                            <td colspan="7">
                                <input type="text" id="single_q_title_ko" class="form-control" placeholder="설문참여시 사용자에게 보여질 질문 내용을 입력해주세요.(필수)">
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">보기내용1<span class="check">*</span></th>
                            <td colspan="3">
                                <input type="text" id="single_qa_title_ko1" class="form-control" qa_code="" placeholder="설문참여시 사용자에게 보여질 보기 내용을 입력해주세요.(필수)">
                            </td>
                            <th class="text-center">보기내용2<span class="check">*</span></th>
                            <td colspan="3">
                                <input type="text" id="single_qa_title_ko2" class="form-control" qa_code="" placeholder="설문참여시 사용자에게 보여질 보기 내용을 입력해주세요.(필수)">
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">질문 영문</th>
                            <td colspan="7">
                                <input type="text" id="single_q_title_en" class="form-control" placeholder="영문 질문 설명을 입력해주세요.">
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">영문보기1</th>
                            <td colspan="3">
                                <input type="text" id="single_qa_title_en1" class="form-control" qa_code="" placeholder="설문참여시 사용자에게 보여질 영문보기를 입력해주세요.">
                            </td>
                            <th class="text-center">영문보기2<span class="check">*</span></th>
                            <td colspan="3">
                                <input type="text" id="single_qa_title_en2" class="form-control" qa_code="" placeholder="설문참여시 사용자에게 보여질 영문보기를 입력해주세요.">
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">질문 중문</th>
                            <td colspan="7">
                                <input type="text" id="single_q_title_cn" class="form-control" placeholder="중문 질문 설명을 입력해주세요.">
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">중문보기1</th>
                            <td colspan="3">
                                <input type="text" id="single_qa_title_cn1" class="form-control" qa_code="" placeholder="설문참여시 사용자에게 보여질 중문보기를 입력해주세요.">
                            </td>
                            <th class="text-center">중문보기2<span class="check">*</span></th>
                            <td colspan="3">
                                <input type="text" id="single_qa_title_cn2" class="form-control" qa_code="" placeholder="설문참여시 사용자에게 보여질 중문보기를 입력해주세요.">
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">참조</th>
                            <td colspan="7">
                                <input type="text" id="single_etc" class="form-control" placeholder="설문 참여시 참고할 사항을 입력해주세요.">
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">닫기</button>
                <button id="singleSave" class="btn btn-sm btn-danger" type="button"><i class="fa fa-check"></i> 저장</button>
            </div>
        </div>
    </div>
</div>

<!-- 선택형 등록폼 모달 -->
<div class="modal fade" id="multiModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">세부 질문 유형 - 선택형</h3>
                </div>
                <div class="block-content">
                    <input type="hidden" id="img_code">
                    <table class="table table-bordered fontsize">
                        <col width="15%">
                        <col width="85%">
                        <tbody>
                            <tr>
                                <th class="text-center">질문 이름<span class="check">*</span></th>
                                <td >
                                    <input type="text" id="multi_q_name" class="form-control" placeholder="통계 활용에 쓰일 질문이름(키워드)을 입력해주세요.(필수)">
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center">질문 내용<span class="check">*</span></th>
                                <td>
                                    <input type="text" id="multi_q_title_ko" class="form-control" placeholder="설문참여시 사용자에게 보여질 질문 내용을 입력해주세요.(필수)">
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center">질문 영문</th>
                                <td colspan="7">
                                    <input type="text" id="multi_q_title_en" class="form-control" placeholder="영문 질문 설명을 입력해주세요.">
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center">질문 중문</th>
                                <td colspan="7">
                                    <input type="text" id="multi_q_title_cn" class="form-control" placeholder="중문 질문 설명을 입력해주세요.">
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center">참조</th>
                                <td colspan="7">
                                    <input type="text" id="multi_etc" class="form-control" placeholder="설문 참여시 참고할 사항을 입력해주세요.">
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center">메모</th>
                                <td colspan="7">
                                    <input type="text" id="multi_memo" class="form-control" placeholder="버전관리를 위한 메모를 입력해주세요.">
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table id="multiTable" class="table table-bordered fontsize">
                        <div class="text-right col-md-12 push-10">
                            <button id="qaBtn_multi" class="btn btn-info btn-sm">보기 추가</button>
                        </div>
                        <col width="9%">
                        <col width="26%">
                        <col width="26%">
                        <col width="26%">

                        <thead>
                            <tr>
                                <th>코드</th>
                                <th>보기(국문)*</th>
                                <th>보기(영문)</th>
                                <th>보기(중문)</th>
                                <th>관리</th>
                            </tr>
                        </thead>
                        <tbody id="template">

                        </tbody>
                    </table>

                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">닫기</button>
                <button id="multiSave" class="btn btn-sm btn-danger" type="button"><i class="fa fa-check"></i> 저장</button>
            </div>
        </div>
    </div>
</div>



<!-- 선택형 등록폼 모달 -->
<div class="modal fade" id="radioModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">세부 질문 유형 - 선택형</h3>
                </div>
                <div class="block-content">
                    <input type="hidden" id="img_code">
                    <table class="table table-bordered fontsize">
                        <col width="15%">
                        <col width="85%">
                        <tbody>
                        <tr>
                            <th class="text-center">질문 이름<span class="check">*</span></th>
                            <td >
                                <input type="text" id="radio_q_name" class="form-control" placeholder="통계 활용에 쓰일 질문이름(키워드)을 입력해주세요.(필수)">
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">질문 내용<span class="check">*</span></th>
                            <td>
                                <input type="text" id="radio_q_title_ko" class="form-control" placeholder="설문참여시 사용자에게 보여질 질문 내용을 입력해주세요.(필수)">
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">질문 영문</th>
                            <td colspan="7">
                                <input type="text" id="radio_q_title_en" class="form-control" placeholder="영문 질문 설명을 입력해주세요.">
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">질문 중문</th>
                            <td colspan="7">
                                <input type="text" id="radio_q_title_cn" class="form-control" placeholder="중문 질문 설명을 입력해주세요.">
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">참조</th>
                            <td colspan="7">
                                <input type="text" id="radio_etc" class="form-control" placeholder="설문 참여시 참고할 사항을 입력해주세요.">
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">메모</th>
                            <td colspan="7">
                                <input type="text" id="radio_memo" class="form-control" placeholder="버전관리를 위한 메모를 입력해주세요.">
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <table id="radioTable" class="table table-bordered fontsize">
                        <div class="text-right col-md-12 push-10">
                            <button id="qaBtn_radio" class="btn btn-info btn-sm">보기 추가</button>
                        </div>
                        <col width="9%">
                        <col width="26%">
                        <col width="26%">
                        <col width="26%">

                        <thead>
                        <tr>
                            <th>코드</th>
                            <th>보기(국문)*</th>
                            <th>보기(영문)</th>
                            <th>보기(중문)</th>
                            <th>관리</th>
                        </tr>
                        </thead>
                        <tbody id="template">

                        </tbody>
                    </table>

                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">닫기</button>
                <button id="radioSave" class="btn btn-sm btn-danger" type="button"><i class="fa fa-check"></i> 저장</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery.ui.widget.js"></script>
<script src="/js/jquery.iframe-transport.js"></script>
<script src="/js/jquery.fileupload.js"></script>
<script language="javascript" src="/view_js/group/detail.js"></script>
